#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  position: absolute;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 7px 20px 2px rgb(0 0 0 / 40%);
  overflow: hidden;
}

#modal-topbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  padding-top: 0;
  font-size: 20px;
  padding-left: 50px;
  padding-bottom: 0;
  color: rgba(0, 0, 0, 0.4);
}

#modal-topbar button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  color: inherit;
}
