.nav-left-dropdown-wrapper {
  position: relative;
}

.nav-left-dropdown-face {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 36px;
  position: relative;
  min-width: 72px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.nav-left-dropdown-arrow svg,
.nav-left-dropdown-open svg {
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  width: 18px;
  margin-top: -10px;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 50%;
  color: var(--main-text-color);
}

.nav-left-dropdown-item-icon svg {
  left: 10px;
}

.nav-left-dropdown-face-title {
  display: flex;
  align-items: center;
}

.nav-left-dropdown-item-svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  margin-left: 5px;
  margin-right: -5px;
  pointer-events: none;
  color: #1a1a1b;
  position: relative !important;
}

.nav-left-dropdown-face:hover {
  border-color: var(--secondary-border-color);
}

.dropdown-disabled:hover {
  border-color: transparent;
}

.nav-left-dropdown-open {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  height: 36px;
  position: relative;
  min-width: 72px;
  border: 1px solid var(--secondary-border-color);
}

.nav-left-dropdown-face-icon {
  font-size: 20px;
  height: 20px;
  left: 10px;
  margin-top: -10px;
  max-height: 20px;
  color: red;
  max-width: 20px;
  position: absolute;
  top: 50%;
  width: 20px;
}

.nav-left-dropdown-face-left {
  background: transparent;
  border-color: transparent;
  outline: 0;
  font-family: var(--font-family-ibm);
  border-radius: 0;
  display: flex;
  align-items: center;
  height: 100%;
  left: 0;
  line-height: 34px;
  overflow: hidden;
  padding-right: 56px;
  position: relative;
  text-align: left;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
  border-radius: 4px;
  width: 100%;
  padding-left: 10px;
}

.nav-left-dropdown-face-left .nav-left-dropdown-item {
  overflow: hidden;
  text-overflow: hidden;
  width: 165px;
}

.plus-border {
  border-color: var(--secondary-border-color);
  border-bottom-color: transparent;
  border-radius: 4px 4px 0 0;
}

.dropdown-disabled {
  cursor: default;
}

.nav-left-dropdown-face.dropdown-disabled {
  cursor: default;
  border-color: transparent;
}

.nav-left-dropdown-face-title {
  font-size: 0.925rem;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  height: 100%;
  /* padding-top: 2px; */
  align-items: center;
  color: var(--main-text-color);
}

.nav-left-dropdown-face-title svg {
  color: var(--main-text-color);
}

.nav-left-dropdown-face-sidebar-icon {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  cursor: pointer;
  margin-top: -10px;
  position: absolute;
  right: 36px;
  top: 50%;
  display: inline;
}

.nav-left-dropdown-face-sidebar-icon svg {
  fill: var(--main-text-color);
}

.nav-left-dropdown {
  position: absolute;
  border: 1px solid var(--secondary-border-color);
  border-radius: 0 0 4px 4px;
  border-top: 0;
  color: var(--main-text-color);
  margin-top: -2px;
  background: var(--ribbit-main);
  width: 270px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 16px;
  height: 482px;
}

.nav-left-normal {
  height: 100%;
  overflow-y: auto;
  background: var(--ribbit-main);
  overscroll-behavior: contain;
}

.nav-left-dropdown-filter {
  height: 30px;
  margin: 16px 16px 0;
  padding: 0 6px;
  box-sizing: border-box;
  width: calc(100% - 32px);
  background: var(--main-input-bg-color);
  border: 1px solid var(--secondary-border-color);
  color: var(--main-text-color);
  font-family: var(--font-family-noto);
}

.nav-left-dropdown-filter.filter-margin {
  margin: 16px;
}

.nav-left-dropdown-filter:focus,
.nav-left-dropdown-filter:hover {
  background: var(--ribbit-main);
  border: 1px solid var(--highlight-color);
}

.nav-left-dropdown-title {
  padding: 16px 24px 8px;
  color: #878a8c;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.nav-left-dropdown-navitem {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  color: var(--main-text-color);
}

.nav-left-dropdown-navitem:hover {
  background: var(--main-input-bg-color);
}

.nav-left-dropdown-navitem svg {
  font-size: 20px;
}

.nav-left-dropdown-item-img {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  object-fit: cover;
}

.nav-left-dropdown-item-icon {
  flex-grow: 0;
  height: 20px;
  max-height: 20px;
  max-width: 20px;
  width: 20px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: middle;
  object-fit: cover;
}

.nav-left-dropdown-icon {
  font-size: 20px;
  flex-grow: 0;
}

.nav-left-dropdown-item-icon.item-icon-circle {
  border-radius: 1000px;
}

.nav-left-dropdown-item {
  flex-grow: 1;
  margin-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--main-text-color);
}

.nav-left-dropdown-star {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #878a8c;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  z-index: 1000;
  right: 15px;
  top: 8px;
}

.star-filled {
  color: var(--highlight-color);
}

.nav-left-dropdown-arrow {
  display: inline;
}

.nav-left-dropdown-arrow-hidden {
  display: none;
}

@media (max-width: 1250px) {
  .nav-left-dropdown-face-sidebar-icon {
    display: none;
  }

  .nav-left-dropdown-arrow {
    display: inline;
  }

  .nav-left-dropdown-arrow-hidden {
    display: inline;
  }
}

@media (max-width: 995px) {
  .nav-left-dropdown-face {
    width: auto;
  }
  .nav-left-dropdown-face-left {
    padding: 0;
    padding-left: 10px;
  }
  .nav-left-dropdown-face-left h1 {
    display: none;
  }
}
