.classic-post-img-placeholder {
  transition: filter 0.5s;
  height: 72px;
  width: 96px;
  border: none;
  border-radius: 4px;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
  color: #878a8c;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(28, 28, 28, 0.03);
  font-size: 20px;
}

.classic-post-container {
  display: flex;
  width: 100%;
  color: #878a8c;
  cursor: pointer;
  padding-left: 40px;
  /* overflow: hidden; */
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  z-index: 0;
  background: rgba(255, 255, 255, 0.8);
}

.classic-post-container:hover {
  border: 1px solid #898989;
  z-index: 1;
}

.classic-post-karmabar {
  width: 40px;
  border-left: 4px solid transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px 4px 8px 0;
}

.classic-post-karmabar button {
  border: none;
  background: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: #878a8c;
}

.classic-post-karmabar button:hover {
  background: rgb(226, 227, 228);
}

.karmabar-votes {
  color: rgb(26, 26, 27);
}

.classic-post-main {
  background: white;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 8px 8px 0;
}

.classic-post-content-box {
  display: flex;
  width: 100%;
}

.classic-post-expanded {
  display: flex;
}

.classic-post-expanded-img {
  max-height: 788px;
  max-width: 1223px;
  margin: 0 auto;
}

.classic-post-expanded img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.classic-post-content-img {
  display: flex;
  -ms-flex: 0 0 96px;
  flex: 0 0 96px;
  height: 72px;
  margin-right: 8px;
}

.classic-post-content-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.classic-post-content-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.classic-post-author-bar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  margin-bottom: 6px;
}

.classic-post-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.classic-post-buttons button {
  height: 36px;
}

.classic-post-title {
  color: #222;
}

.classic-post-title h3 {
  color: #222;
  font-size: 16px;
  font-weight: 500;
  display: inline;
  padding-right: 5px;
  word-wrap: break-word;
  line-height: 20px;
  position: relative;
  word-break: break-word;
  font-family: var(--font-family-ibm);
}

.classic-post-content-body-top {
  display: flex;
  align-items: flex-end;
  flex: 1 1 100%;
}

.classic-post-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0px 8px;
  margin-bottom: 0;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  color: var(--community-highlight);
}

.classic-post-link:hover {
  text-decoration: underline;
}

.classic-post-link svg {
  color: #3f9ade;
  font-size: 20px;
  padding-left: 4px;
}

.classic-post-link.community-post {
  color: var(--community-highlight);
}

.classic-post-link.community-post svg {
  color: var(--community-highlight);
}

.classic-post-community-info {
  display: flex;
  align-items: center;
}

.classic-post-community {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--main-text-color);
  display: inline;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}

.classic-post-community:hover {
  text-decoration: underline;
}

.classic-post-button {
  background: white;
  border-color: white;
  border-radius: 4px;
  width: auto;
  padding: 0;
  color: #878a8c;
  font-size: 24px;
  flex: 0 0 36px;
  border-radius: 2px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  height: 36px;
  width: 36px;
}

.classic-post-button:hover {
  background-color: rgba(26, 26, 27, 0.1);
}

.classic-post-button svg {
  font-size: 24px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.btn-expand {
  transform: rotate(90deg);
  font-size: 12px;
}

.classic-post-author-info {
  font-size: 12px;
  display: flex;
  align-items: center;
  line-height: 16px;
  position: relative;
}

.classic-post-author {
  margin-right: 4px;
}
.classic-post-author:hover {
  text-decoration: underline;
  cursor: pointer;
}

.classic-post-expanded-text {
  text-align: left;
  padding: 5px 16px 5px 0px;
  max-width: 800px;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  margin-bottom: -1px;
  color: var(--main-text-color);
}

.classic-post-separator {
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
  border-right: 1px solid #edeff1;
}

.placeholder-external {
  background-color: var(--highlight-color);
  border-top-left-radius: 4px;
  bottom: 0;
  height: 18px;
  position: absolute;
  right: 0;
  width: 18px;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder-link {
  color: var(--highlight-color);
  margin-top: 3px;
}

.placeholder-external.community-post {
  background-color: var(--community-highlight);
}

.placeholder-link.community-post {
  color: var(--community-highlight);
}
