.navbar-user-dropdown {
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #878a8c;
  height: 44px;
  width: 100%;
  padding-right: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 16px;
  margin-right: -8px;
}

.navbar-user-dropdown:hover {
  border: 1px solid var(--secondary-border-color);
}

.navbar-user-dropdown-face {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2px 0;
  min-height: 32px;
  margin-left: 8px;
}

.navbar-user-info-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-user-info-details {
  display: flex;
  align-items: center;
  width: 175px;
}

.navbar-user-img {
  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);

  width: 24px;
  height: 24px;
  margin-right: 5px;
  object-fit: cover;
}

.navbar-user-info {
  font-size: 12px;
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 16px;
  margin-right: 5px;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -3px;
}

.user-karma-info {
  color: #a8aaab;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 2px;
}

.karma-poinsettia {
  width: 12px;
  height: 12px;
  margin-right: 2px;
}

.nav-user-dropdown-box {
  padding: 8px 0;
  width: 252px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);
  position: fixed;
  right: 10px;
  text-align: left;
  top: 45.5px;
  background: var(--ribbit-main);
  overflow-x: hidden;
  overflow-y: auto;
}

.dark-mode-toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-user-dropdown-btn-title {
  color: #787c7e;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  width: 100%;
  align-items: center;
  display: flex;
  padding: 0 20px;
  height: 40px;
  cursor: default;
}

.nav-user-dropdown-btn-title svg {
  font-size: 24px;
  margin-right: 8px;
}

.nav-user-dropdown-btn {
  height: 40px;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 52px;
}

.nav-user-dropdown-btn:hover {
  background: rgba(0, 0, 0, 0.04);
}

.nav-user-dropdown-btn:active {
  background: rgba(0, 0, 0, 0.08);
}

:root[data-theme="dark"] .nav-user-dropdown-btn:hover {
  background: var(--main-input-bg-color);
}

.door-icon {
  font-size: 20px;
  margin-left: -8px;
}

.nav-user-dropdown-logout-btn {
  display: flex;
  align-items: center;
  padding: 12px 25px;
  margin-top: 12px;
  height: 100%;
  width: 100%;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
}

.nav-user-dropdown-logout-btn:hover {
  background: var(--main-input-bg-color);
}

.nav-user-dropdown-logout-btn svg {
  margin-right: 12px;
}

.nav-user-top-section {
  border-bottom: 1px solid var(--secondary-border-color);

  padding-bottom: 12px;
}

@media (max-width: 1200px) {
  .navbar-user-info {
    display: none;
  }

  .navbar-user-dropdown {
    width: fit-content;
    height: fit-content;
  }

  .nav-user-dropdown-box {
    top: 42px;
    right: 15px;
  }

  .navbar-user-info-details {
    width: auto;
  }

  .navbar-user-dropdown-face {
    width: 100%;
  }
}
