:root {
  --border-color: #ccc;
  --main-bg-color: white;
  --main-text-color: var(--main-text-color);
  --highlight-color: var(--highlight-color);
  --highlight-color-light: #0078d38e;
  --error-color: #7c7c7c8e;
  --padding-standard: 20px 24px;
}

.posts-container,
.posts-container-alt {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding: var(--padding-standard);
  /* min-height: calc(100vh - 150px - var(--community-banner-height)); */
}

.posts-container-alt {
  min-height: 100vh;
  max-width: 100%;
}

.posts-left-col,
.posts-left-col-alt,
.posts-right-col {
  width: 100%;
}

.posts-left-col {
  max-width: 640px;
}

.posts-right-col {
  max-width: 312px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.posts-home-box,
.posts-author-box {
  border-radius: 4px;
  background: var(--main-bg-color);
  border: 1px solid var(--border-color);
}

.posts-home-box-buttons {
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 5px;
}

.no-posts-div {
}

.posts-home-box-content,
.posts-home-box-buttons button,
.posts-author-box h1,
.no-posts-div {
  font-family: var(--font-family-ibm);
}

.posts-home-box-buttons button {
  margin-top: 10px;
  font-family: var(--font-family-noto);
}

.posts-home-box-content {
  padding: 12px;
}

.posts-home-box h1,
.posts-author-box h1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.posts-home-box p,
.posts-author-box ul {
  font-family: var(--font-family-noto);
  font-size: 14px;
  line-height: 20px;
  color: var(--main-text-color);
}

.posts-home-box-buttons,
.posts-author-box img,
.tooltip .tooltiptext,
.no-posts-div {
  word-wrap: break-word;
}

.posts-author-box {
  margin-top: 16px;
  position: sticky;
  top: 57px;
}

.posts-author-box ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
}

.posts-author-box li {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  font-family: var(--font-family-ibm);
  font-size: 13px;
  font-weight: 500;
  left: -23px;
  width: 85px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.last-box-wrapper {
  flex: 1 1 auto;
  position: relative;
  width: inherit;
  margin-bottom: 16px;
}

.tooltip a {
  height: 40px;
}

.posts-author-box img {
  height: 45px;
  cursor: pointer;
  width: 100%;
}

.posts-author-box h1 {
  font-size: 16px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  font-weight: 500;
  padding-left: 3px;
  margin-bottom: 18px;
}

.posts-home-box img {
  width: 100%;
}

.posts-author-box {
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 16px;
  color: #1a1a1b;
  word-wrap: break-word;
  padding: 8px 12px;
  position: sticky;
  top: 57px;
}

.single-post-delete-btn svg {
  margin-right: 6px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: #878a8c;
}

@media (max-width: 960px) {
  .posts-right-col {
    display: none;
  }

  .posts-left-col {
    max-width: 100%;
  }

  .posts-container {
    padding: var(--padding-standard);
    width: 100%;
  }
}

@media (max-width: 640px) {
  .posts-container,
  .posts-container-alt {
    padding: 0;
    width: 100%;
  }
}
