:root {
  --border-color: #ccc;
  --font-family-sans: "Noto Sans", sans-serif;
  --font-family-plex: "IBM Plex Sans", sans-serif;
  --main-bg-color: white;
  --main-text-color: #1c1c1c;
  --highlight-color: #0079d3;
  --highlight-color-light: #0078d38e;
  --error-color: #7c7c7c8e;
  --padding-standard: 20px 24px;
}

.posts-container,
.posts-container-alt {
  margin: 0 auto;
  width: auto;
  display: flex;
  justify-content: center;
  padding: var(--padding-standard);
  min-height: 95vh;
}

.posts-container-alt {
  min-height: 100vh;
  max-width: 100%;
}

.posts-left-col,
.posts-left-col-alt,
.posts-right-col {
  width: 100%;
}

.posts-left-col {
  max-width: 640px;
}

.posts-right-col {
  max-width: 312px;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}

.posts-home-box,
.posts-author-box {
  border-radius: 4px;
  background: var(--main-bg-color);
  border: 1px solid var(--border-color);
}

.posts-home-box-content,
.posts-home-box-buttons button,
.posts-author-box h1,
.no-posts-div {
  font-family: var(--font-family-plex);
}

.posts-home-box-content {
  padding: 12px;
}

.posts-home-box h1,
.posts-author-box h1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.posts-home-box p,
.posts-author-box ul {
  font-family: var(--font-family-sans);
  font-size: 14px;
  line-height: 20px;
  color: var(--main-text-color);
}

.posts-home-box-buttons,
.posts-author-box img,
.tooltip .tooltiptext,
.no-posts-div {
  word-wrap: break-word;
}

.posts-author-box {
  margin-top: 16px;
  position: sticky;
  top: 57px;
}

.posts-author-box ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8px;
}

.posts-author-box li {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 50px;
  font-family: var(--font-family-plex);
  font-size: 13px;
  font-weight: 500;
  left: -23px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.last-box-wrapper {
  flex: 1 1 auto;
  position: relative;
  width: inherit;
}

@media (max-width: 960px) {
  .posts-right-col {
    display: none;
  }

  .posts-left-col {
    max-width: 100%;
  }

  .posts-container {
    padding: var(--padding-standard);
    width: 100%;
  }
}

@media (max-width: 640px) {
  .posts-container,
  .posts-container-alt {
    padding: 0;
    width: 100%;
  }
}
