.skip-location {
  max-width: calc(640px + 310px + 24px);
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.skip-location:focus-within {
  display: block;
}

.sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  border-width: 0px;
  white-space: nowrap;
}

.not-sr-only:focus {
  height: auto;
  margin: 0px;
  overflow: visible;
  display: inline-block;
  padding: 0px;
  position: static;
  width: auto;
  clip: auto;
  white-space: normal;
}

.skip-link {
  opacity: 0;
  position: absolute;
}

.skip-link:focus {
  opacity: 1;
}
