.chat-container {
    width: 632px;
    height: 506px;
    bottom: 0;
    right: 1.875rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 0.125em 0.75em 0.125em rgba(20, 120, 120, 0.11);
    top: auto;
    position: fixed;
    overflow: hidden;
    background: none;
    z-index: 9999;
    border: 1px solid #edeff1;
    border-bottom: none;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    background: white;
}

.chat-container button {
    padding: 0;
    background: none;
    border: none;
    height: auto;
    font-weight: 400;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.chat-left-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #edeff1;
    max-width: 220px;
    width: 100%;
    background: white;
}

.chat-right-container {
    height: 100%;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-nav-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chat-messages-container {
    overflow: hidden auto;
    height: 100%;
    width: 100%;
    flex: 1 0 0px;
}

.chat-input-container {
    padding: 8px;
    display: flex;
    align-items: center;
    position: relative;
}
