.communities-directory-container {
  background-color: var(--ribbit-main);
  border-radius: 4px;
  display: flex;
  margin: 12px auto 64px;
  max-width: 88%;
  padding: 16px;
  flex-direction: column;
  width: 986px;
}

.directory-header h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--main-text-color);
  margin: 0 0 16px;
}

.directory-listings-container {
  border-top: 1px solid #edeff1;
  padding: 16px 0 24px;
  padding: 16px 0 24px;
}

.directory-listing {
  width: 25%;
  font-family: var(--font-family-ibm);
  font-size: 16px;
  color: var(--highlight-color);
  font-weight: 400;
  line-height: 20px;
  max-width: 100%;
  padding: 0 8px;
}
