.nav-sidebar-container {
  height: calc(100% - 48px);
  margin-top: 48px;
  background: var(--ribbit-main);
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  width: 270px;
  z-index: 100;
}

.main-padded {
  padding-left: 270px;
}

.nav-sidebar-top {
  padding: 16px 20px 0;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.close-nav-sidebar-btn {
  background: none;
  border: 0;
  height: auto;
  padding: 0;
  color: #878a8c;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  padding: 0 4px 0 8px;
  text-align: center;
}

.close-nav-sidebar-btn:hover {
  background: var(--secondary-border-color);
}

.logged-out-sidebar-btn {
  position: relative;
  background-color: #67b54d;
  border: none;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 0.925rem;
  font-weight: 700;
  letter-spacing: unset;
  line-height: 17px;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  align-items: center;
  border-radius: 9999px;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-align: center;
  width: auto;
  color: white;
  height: 40px;
  width: 100%;
}

.logged-out-sidebar-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--ribbit-main);
  opacity: 0;
}

.logged-out-sidebar-btn:hover::before {
  opacity: 0.08;
}

.logged-out-sidebar {
  background: var(--ribbit-main);
  height: calc(100% - 49px);
  margin-top: 48px;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
}

.logged-out-sidebar-bottom {
  padding: var(--padding-standard);
  padding-bottom: 40px;
}

.logged-out-sidebar-text {
  border-top: 1px solid var(--main-border-color);
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 0.925rem;
  font-weight: 400;
  line-height: 18px;
  padding: 19px 24px 22px 0;
}

.logged-out-sidebar-section {
  display: flex;
  flex-direction: column;
}

.logged-out-sidebar-hr {
  border: 0;
  border-bottom: 1px solid var(--main-border-color);
  background-color: transparent;
  margin: 0;
  width: calc(100% - 48px);
  margin-top: 0.75rem;
  margin-left: 24px;
  margin-right: 24px;
}

.logged-out-sidebar-top {
  overflow: auto;
}

@media (max-width: 1250px) {
  .nav-sidebar-container {
    display: none;
  }
  .main-padded {
    padding-left: 0;
  }
  .logged-out-sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-sidebar-container {
    display: block;
  }
}
