.notifications-dropdown-wrapper {
  position: relative;
}

.notifications-dropdown {
  position: absolute;
  padding-top: 8px;
  z-index: 1000000;
  background: var(--ribbit-main);
  border-radius: 4px;
  width: 375px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--secondary-border-color);
  top: 38px;
  right: -42px;
}

/* .navbar-button {
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 40px;
  padding: 5px;
  width: auto;
  height: auto;
} */

.notification-icon-bubble svg {
  color: #24a0ed;
}

.notification-icon-bubble {
  background: var(--ribbit-main);
  border: 1px solid var(--secondary-border-color);

  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  left: 12px;
  position: absolute;
  top: 18px;
}

.notification-icon svg {
  font-size: 22px;
}

.notification-icon:hover {
  background: rgba(26, 26, 27, 0.1);
}

.notification-wrapper {
  position: relative;
}

.notification-number {
  background: #ff4500;
  border-radius: 12px;
  box-shadow: 0 0 0 2px var(--ribbit-main);
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  left: 16px;
  line-height: 16px;
  padding: 0 4px;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  min-width: 16px;
  width: auto;
  z-index: 1;
}

.notification-number-messages {
  background: #ff4500;
  border-radius: 12px;
  box-shadow: 0 0 0 2px var(--ribbit-main);
  box-sizing: border-box;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  height: 16px;
  left: 16px;
  line-height: 16px;
  padding: 0 4px;
  text-align: center;
  vertical-align: middle;
  min-width: 16px;
  width: auto;
  z-index: 1;
  margin-left: 5px;
}

.notifications-dropdown::before {
  border-bottom: 8px solid var(--main-border-color);
  opacity: 0.5;
  top: -8px;
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  position: absolute;
  right: 45px;
  width: 0;
  z-index: 100;
}

.notifications-dropdown::after {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  height: 0;
  position: absolute;
  right: 45px;
  width: 0;
  z-index: 100;
  border-bottom: 8px solid var(--ribbit-main);
  top: -6px;
}

.notifications-dropdown-head {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
}

.notifications-dropdown-head-right {
  display: flex;
  align-items: center;
}

.notifications-dropdown-head-msg-box {
  border-right: 1px solid var(--secondary-border-color);
}

.notifications-dropdown-head-messages-btn {
  padding: 0;
  margin-right: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: var(--font-family-noto);
  font-size: 12px;
  line-height: 16px;
  border-radius: 0;
  border: 0;
  background: transparent;
  color: #7c7c7c;
  font-weight: 700;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  height: auto;
}

.notifications-dropdown-head-btn {
  height: auto;
  border-radius: 0;
  border: 0;
  background: transparent;
  padding: 0;
  margin-left: 8px;
}

.notifications-dropdown-head p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 12px;
}

.notifications-dropdown-head-btn svg {
  color: #7c7c7c;
  font-size: 20px;
}

.notification {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.notification-unread {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  background: rgba(36, 160, 237, 0.1);
  cursor: pointer;
}

.notification,
.notification-unread {
  position: relative;
}

.notification-message-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.notification-message {
  font-size: 14px;
  line-height: 21px;
  font-family: var(--font-family-noto);
  font-weight: 400;
  color: var(--main-text-color);
  overflow-wrap: anywhere;
}

.notification-message-head-dot {
  color: #7c7c7c;
  margin: 0 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.notification-date {
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-noto);
  line-height: 19px;
}

.notification-content {
  font-family: var(--font-family-noto);
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 14px;
  color: #7c7c7c;
  word-break: break-word;
  max-height: 54px;
  -webkit-line-clamp: 3;
}

.notification-main {
  display: flex;
  flex-direction: column;
}

.notification-item-icon {
  padding-right: 8px;
  position: relative;
}

.notification-item-icon img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: block;
  object-fit: cover;
}

.notification-menu-btn {
  border: 0;
  background: transparent;
  padding: 0;
  flex: 0 0 32px;
  margin-left: 10px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: auto;
}

.notification-menu-btn:hover {
  background: var(--main-input-bg-color);
}

.notification-menu-btn svg {
  font-size: 20px;
  color: #7c7c7c;
}

.notifications-dropdown-footer {
  align-items: center;
  background-color: var(--main-input-bg-color);
  border-radius: 0 0 4px 4px;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 32px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #24a0ed;
  cursor: pointer;
}

.notifications-dropdown-main {
  overflow: hidden;
  overflow-y: auto;
  transition: max-height 0.3s ease-out;
  height: auto;
  max-height: 300px;
}

.notification-reply-back {
  color: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  background-color: var(--main-input-bg-color) !important;
  border-color: transparent;
}

.notification-reply-back svg {
  transform: rotate(180deg);
  font-size: 20px;
  margin-right: 8px;
}

.notification-reply-back:hover {
  background-color: rgba(36, 160, 237, 0.2) !important;
}

.no-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background: var(--ribbit-main);
  border-radius: 4px;
  padding-bottom: 32px;
  min-height: 200px;
  max-height: 400px !important;
}

.no-notifications-title {
  font-family: var(--font-family-ibm);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--main-text-color);
  margin-top: 24px;
  margin-bottom: 8px;
}

.no-notifications p {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #7c7c7c;
  text-align: center;
  margin: 0 40px;
}

.no-notifications-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  height: 40px;
  font-family: "IBMPlexSans", sans-serif;
  color: #fff;
  background: var(--highlight-color);
  border-radius: 999px;
  margin-right: 8px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: unset;
  min-height: 32px;
  min-width: 32px;
  padding: 4px 16px;
  width: auto;
}

.sparkly-frog {
  width: 100%;
  max-width: 100px;
  padding-bottom: -20px;
}

.notification-message-content {
  display: flex;
  flex-direction: column;
}
