.search-results-page {
  height: 100vh;
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
}

.search-results-wrapper {
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}

.search-results-left {
  width: 100%;
  max-width: 640px;
  border-radius: 4px;
  overflow: hidden;
  background: var(--ribbit-main);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  display: flex;
  flex-direction: column;
  height: min-content;
  margin-bottom: 16px;
}

.search-results-right {
  max-width: 312px;
  margin-left: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-results-right-box {
  border: 1px solid #ccc;
  background: var(--ribbit-main);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 6%);
  width: 100%;
  margin-bottom: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.search-results-right-box h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  padding: 16px 16px 0;
}

.search-results-right-box p {
  padding: 16px;
  font-size: 16px;
  color: var(--main-text-color);
}

.search-results-community {
  padding: 16px;
  margin-top: -1px;
  border-bottom: thin solid #ccc;
}

.search-results-main {
  display: flex;
  margin: 0 auto;
}

.search-results-post {
  padding: 16px;
  cursor: pointer;
  margin-top: -1px;
  border: 1px solid #ccc;
}

.search-results-post:hover {
  border: 1px solid #898989;
  z-index: 1;
}

.search-results-post:first-of-type {
  margin-top: 0;
  border-radius: 4px 4px 0 0;
}

.search-results-post:last-of-type {
  border-radius: 0 0 4px 4px;
}

.search-results-post:only-of-type {
  border-radius: 4px;
}

.search-results-post-topbar {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 4px;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}

.search-results-post-topbar-img {
  width: 20px;
  margin-right: 4px;
  height: 20px;
  border-radius: 100px;
}

.topbar-dot {
  font-size: 6px;
  margin: 0 4px;
}

.results-topbar-info {
  font-size: 12px;
  font-weight: 400;
  color: #7c7c7c;
  display: flex;
}

.search-results-post-content {
  display: flex;
  justify-content: space-between;
}

.search-results-post-title {
  font-size: 16px;
  color: var(--main-text-color);
  font-weight: 500;
  padding-right: 4px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.search-results-post-img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 138px;
  flex: 0 0 138px;
  height: 98px;
  width: 138px;
  border: none;
  border-radius: 4px;
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 8px;
}

.search-results-post-img img {
  height: 98px;
  width: 138px;
  border: none;
  border-radius: 4px;
  background-position: 50% top;
}

.search-results-post-img {
  width: 138px;
  height: 98px;
  border-radius: 4px;
  object-fit: cover;
}

.search-results-post-link-img {
  width: 138px;
  height: 98px;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.search-results-post-link-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.search-results-post-stats {
  padding-top: 8px;
}

.search-results-post-stat {
  margin-right: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
}

.results-post-author:hover,
.results-post-community:hover {
  text-decoration: underline;
}

.no-search-results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 4px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  padding: 24px 16px;
  color: var(--main-text-color);
  background: var(--ribbit-main);
  width: 100%;
  border: 1px solid #ccc;
}

.no-search-results p {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #7c7c7c;
}

.no-search-results img {
  width: 130px;
  background: var(--ribbit-main);
  margin: 0 auto;
}

.no-search-results h2 {
  font-family: var(--font-family-ibm);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  max-width: 100%;
}

.no-search-results span {
  cursor: pointer;
}

.adjust-search-btn {
  color: var(--community-base-color);
}

.search-results-posts-page,
.search-results-comments-page {
  display: flex;
  max-width: 976px;
  width: 100%;
  padding-bottom: 20px;
}

.search-results-page-communities {
  margin-bottom: 20px;
}

.search-results-posts-left {
  max-width: 638px;
  width: 100%;
}

.search-results-create-community-box {
  padding: 12px;
  padding-top: 0;
}

.search-results-create-community p {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-family-noto);
}

.search-result-page-community,
.search-results-page-community-page {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-bottom: thin solid #ccc;
}

.search-results-community {
  cursor: pointer;
}

.search-results-page-community-page .search-results-page-community-left {
  align-items: center;
}

.search-results-page-community-left {
  display: flex;
  word-break: break-word;
  width: 100%;
}

.search-results-page-community-img {
  border-radius: 100%;
  margin-right: 8px;
  flex-grow: 0;
  object-fit: cover;
  border-radius: 100%;
}

.search-result-page-community-name {
  font-weight: 700;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 16px;
}

.search-result-page-community-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-result-page-community-members {
  color: #7c7c7c;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.search-result-community-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.search-results-page-community-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-grow: 1;
}

.search-results-page-community-right {
  flex-grow: 0;
}

.search-results-page-community-right button,
.search-results-page-person-right button {
  width: 86px;
  background: #f6f7f8;
  border-color: #f6f7f8;
  color: var(--highlight-color);
}

.search-results-page-community-right button:hover,
.search-results-page-person-right button:hover {
  background-color: rgba(0, 121, 211, 0.1);
}

.search-results-page-community-right button:active,
.search-results-page-person-right button:active {
  background-color: rgba(0, 121, 211, 0.2);
}

.see-more-btn {
  font-size: 14px;
  font-family: var(--font-family-ibm);
  padding: 16px;
  color: var(--highlight-color);
  font-weight: 500;
  line-height: 15px;
  cursor: pointer;
}

.no-results {
  padding: 16px;
  color: var(--main-text-color);
  font-size: 16px;
  font-family: var(--font-family-ibm);
  font-weight: 400;
}

.search-results-create-community img {
  width: 100%;
}

/* COMMENTS */
.search-results-comment-post-header,
.search-results-comment-post-header a {
  display: flex;
  align-items: center;
}

.search-results-comment-post-header {
  margin-bottom: 4px;
}

.post-result-skeleton {
  display: flex;
  flex-direction: column;
}

.post-result-top {
  display: flex;
  gap: 4px;
  align-items: center;
}

.post-result-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.comments-results-skeleton-top {
  display: flex;
  align-items: center;
  gap: 4px;
}

.comments-results-skeleton-title {
  margin-bottom: 12px;
}

.comments-results-skeleton-comment {
  margin: 0 12px 12px;
  padding: 8px 8px;
  background: #e9f5fd;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
}

.comments-results-skeleton-comment-left {
  margin-top: 4px;
}
.comments-results-skeleton-comment-right {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  margin-left: 4px;
  width: 80%;
}

.comments-results-skeleton-comment-author-box {
  margin-bottom: 12px;
}

.comments-results-skeleton-comment-body {
  margin-top: 12px;
}

.comments-results-skeleton-comment-upvotes {
  margin-top: 8px;
}

.comments-results-skeleton-link {
  margin-left: 12px;
  margin-bottom: 8px;
}

.post-result-title {
  display: flex;
  flex-direction: column;
}

.post-results-communities-skeleton {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.post-results-communities-skeleton-left {
  display: flex;
}
.post-results-communities-skeleton-mid {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.communities-results-skeleton {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.communities-results-skeleton-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.communities-results-skeleton-middle {
  display: flex;
  align-items: center;
}

.search-results-page-comments {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.search-results-comment-community-img {
  border-radius: 999px;
  height: 20px;
  width: 20px;
  margin-right: 4px;
  overflow: hidden;
}

.search-results-comment-community-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.search-results-comment-dot {
  font-size: 6px;
  line-height: 20px;
  color: #7c7c7c;
  margin: 0 4px;
}

.search-results-comment-post-author-box,
.search-results-comment-community {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
}

.search-results-comment-post-author-box {
  display: flex;
  align-items: center;
}

.search-results-comment-post-author {
  margin-right: 3px;
}

.search-results-comment-post-author:hover {
  text-decoration: underline;
}

.search-results-comment-community {
  color: var(--main-text-color) !important;
}

.search-results-comment-community:hover {
  text-decoration: underline;
}

.search-results-page-comment {
  cursor: pointer;
  padding: 16px;
  margin-top: -1px;
  border: thin solid #ccc;
  background: var(--ribbit-main);
  position: relative;
}

.search-results-page-comment:first-child {
  margin-top: 0;
}

.search-results-page-comment:hover {
  border-color: #7c7c7c;
  z-index: 1;
}

.search-results-comment-post-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #1a1a1b;
  margin-bottom: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.search-results-comment-author-img-box {
  height: 20px;
  min-height: 20px;
  min-width: 20px;
  width: 20px;
  margin: 10px 0 0;
  line-height: 1;
}

.search-results-comment-author-img {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.search-results-comment-body {
  display: flex;
  align-items: flex-start;
  background: #e9f5fd;
  margin: 0 12px 12px;
  padding: 4px 8px 8px;
  border-radius: 4px;
  font-size: 14px;
}

.search-results-comment-body-right {
  margin-left: 8px;
}

.search-results-comment-author-box {
  margin-top: 10px;
  margin-bottom: 6px;
}

.search-results-comment-author {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #1a1a1b;
}

.search-results-comment-author:hover {
  text-decoration: underline;
}

.search-results-comment-author-dot {
  font-size: 12px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 16px;
  margin: 0 4px;
}

.search-results-comment-author-date {
  font-family: var(--font-family-noto);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #7c7c7c;
  margin-left: -4px;
}

.search-results-comment {
  font-size: 14px;
  font-family: var(--font-family-noto);
  font-weight: 400;
  line-height: 21px;
  word-break: break-word;
  overflow: auto;
  padding-bottom: 1px;
  margin-bottom: -1px;
  color: var(--main-text-color);
}

.search-results-comment-upvotes {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
  margin-top: 8px;
}

.search-results-comment-post-link {
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 4px 8px;
  min-height: 0;
  padding: 0;
  font-family: var(--font-family-noto);
  color: var(--highlight-color);
}

.search-results-comment-post-link:hover {
  color: #0060a8;
}

.search-results-comment-post-footer {
  padding-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
}

.search-results-comment-post-votes {
  margin-right: 12px;
}

/* COMMUNITIES */

.search-results-page-communities,
.search-results-page-people {
  width: 100%;
  background: var(--ribbit-main);
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}

.search-results-page-community,
.search-results-page-person {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.search-results-page-community-img,
.search-results-page-person-img {
  background: var(--community-base-color);
  border-radius: 100%;
  width: 36px;
  height: 36px;
  object-fit: cover;
  margin-right: 8px;
}

.search-results-page-community-left,
.search-results-page-community-details-top {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.search-results-page-community-details {
  flex-direction: column;
  overflow: hidden;
  overflow-wrap: break-word;
}

.search-results-page-community-name {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-text-color);
  line-height: 16px;
  cursor: pointer;
}

.search-results-page-community-name:hover {
  text-decoration: underline;
}

.search-results-page-community-dot {
  font-size: 6px;
  color: #7c7c7c;
  margin: 0 4px;
}

.search-results-page-community-members,
.search-results-page-person-members {
  font-size: 12px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 16px;
}

.search-results-page-community-details-bottom {
  font-family: var(--font-family-noto);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #7c7c7c;
  padding-right: 8px;
}

.search-results-page-community-join,
.search-results-page-person-join {
  border-color: transparent;
  background: #f6f7f8 !important;
  color: var(--highlight-color);
  width: 88px;
  padding: 4px 0;
}

.search-results-page-community-join:hover,
.search-results-page-person-join:hover {
  background: rgba(0, 121, 211, 0.1) !important;
}

.search-results-page-community-join:active,
.search-results-page-person-join:active {
  background: rgba(0, 121, 211, 0.2) !important;
}

.search-results {
  padding-top: 8px;
  display: flex;
}

.type-link-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--highlight-color);
  border-top-left-radius: 4px;
  height: 18px;
  width: 18px;
}

.search-results-post-link {
  display: flex;
  align-items: center;
  color: #3f9ade;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 4px 0;
  white-space: nowrap;
  background: none;
  border: none;
  padding: 0;
  height: auto;
  font-family: inherit;
}

.nav-search-bar {
  flex-grow: 1;
  margin: 0 16px;
  width: auto;
  height: auto;
  position: relative;
}

.nav-search-stuff {
  display: flex;
  align-items: center;
  background-color: #f6f7f8;
  border: 1px solid #edeff1;
  border-radius: 20px;
  box-shadow: none;
  height: 40px;
}

.nav-search-stuff:hover {
  background-color: white;
  border: 1px solid var(--highlight-color);
}

.nav-search-stuff.nav-search-open {
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.nav-search-input-container {
  width: 100%;
  display: flex;
}

.nav-input::-webkit-search-cancel-button {
  display: none;
}

.nav-input {
  appearance: none;
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
  outline: none;
  width: 100%;
  background-color: #f6f7f8;
  border: none;
}

.nav-search-stuff:focus-within,
.nav-search-stuff:hover {
  background-color: white;
  border: 1px solid var(--highlight-color);
}

.nav-search-stuff:focus-within .nav-input,
.nav-search-stuff:hover .nav-input {
  background-color: white;
}

.nav-search-input-container label {
  display: flex;
}

.nav-search-btn {
  display: flex;
  align-items: center;
  padding: 0 9px 0 15px;
}

.nav-search-btn svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: blue;
}

.search-close-icon {
  display: flex;
  margin-right: 16px;
  visibility: hidden;
  cursor: pointer;
}

.search-close-icon svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
  color: var(--main-text-color);
}

.nav-search-stuff:focus-within .search-close-icon,
.nav-search-stuff:hover .search-close-icon {
  visibility: visible;
}

.nav-search-dropdown {
  position: absolute;
  width: calc(100% + 2px);
  border: 1px solid #edeff1;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  color: var(--main-text-color);
  background-color: var(--ribbit-main);
  top: 40px;
  left: -1px;
  max-height: calc(100vh - 50px);
  overflow: auto;
}

.nav-search-section {
  border-top: 2px solid #edeff1;
  padding-bottom: 8px;
}

.nav-search-section p {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 12px 16px;
}

.search-result-community {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-result-community:hover {
  background-color: #f6f7f8;
  border-color: #edeff1;
}

.search-result-community img {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 24px;
  width: 24px;
  border-radius: 9999px;
  margin-bottom: -2px;
  display: inline-block;
  flex: none;
  vertical-align: middle;
}

.search-result-community-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-left: 8px;
}

.search-result-community-members {
  font-size: 12px;
  font-weight: 400px;
  line-height: 16px;
  color: #7c7c7c;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.search-result-community-members svg {
  width: 4px;
  margin-left: 4px;
  margin-right: 4px;
  fill: #878a8c;
}

.search-for-query {
  padding: 12px 16px;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  cursor: pointer;
  font: inherit;
  height: auto;
  outline: none;
  background: inherit;
  border: none;
  border-top: 2px solid #edeff1;
  border-radius: 0;
  font-size: 14px;
  flex-grow: 1;
  font-family: var(--font-family-ibm);
}

.search-for-query svg {
  margin-right: 8px;
}

.search-for-query:hover {
  background-color: #f6f7f8;
  border-color: #edeff1;
}
@media (max-width: 959px) {
  .search-results-right {
    display: none;
  }

  .no-search-results {
    width: 100%;
  }
  .search-results-left {
    width: calc(100vw - 48px);
    max-width: 100%;
  }
}
