.navbar-nav,
nav {
  display: flex;
  position: fixed;
  background: var(--ribbit-main);
  width: 100%;
  height: 48px;
  top: 0;
  z-index: 80;
  padding: 0 20px;
  align-items: center;
  border-bottom: 1px solid var(--secondary-border-color);
  justify-content: space-between;
}

.loginsignup {
  min-width: 200px;
}

.navbar-nav,
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.navbar-nav,
nav ul li {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
  flex: 1;
}

.ribbit-banner,
.ribbit-logo {
  height: 28px;
  display: inline-block;
}

.ribbit-banner {
  margin-right: 20px;
}

.ribbit-logo {
  margin-right: 8px;
}

.logo-container {
  margin-right: 16px;
  display: flex;
  align-items: flex-end;
}

.logo-container img {
  width: 32px;
  margin-right: 8px;
}

.navbar-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 20px;
  flex-grow: 0;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 5px;
  background: none;
  border: 0;
  color: var(--main-text-color);
}

.chat-btn {
  cursor: pointer;
  position: relative;
  font-size: 20px;
  flex-grow: 0;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.navbar-button:hover {
  background: rgba(26, 26, 27, 0.1);
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-button .navbtn-tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 2px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -25px;
  font-family: var(--font-family-ibm);
  font-size: 12px;
  overflow-wrap: normal;
  font-weight: normal;
}

.navbar-button .navbtn-tooltiptext.text2 {
  margin-left: -45px;
  width: 85px;
}

.navbar-button .navbtn-tooltiptext.text3 {
  color: red;
}

.navbar-button .navbtn-tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.navbar-button:hover .navbtn-tooltiptext,
.navbar-button:focus .navbtn-tooltiptext,
.navbar-button:hover .navbtn-tooltiptext.text2,
.navbar-button:focus .navbtn-tooltiptext.text2 {
  visibility: visible;
}

.navbar-login-btn {
  max-width: 120px;
  width: 100%;
  background-color: #67b54d;
  position: relative;
  border: none;
  color: white;
  margin-left: 10px;
}

.navbar-login-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--ribbit-main);
  opacity: 0;
}

.navbar-login-btn:hover:before {
  opacity: 0.08;
}

.random-logo-skeleton {
  display: flex;
  align-items: flex-end;
  width: 113px;
}

.logged-out-user-menu {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: #868686;
  padding: 8px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.logged-out-user-menu:hover {
  border-color: var(--secondary-border-color);
}

.user-icon {
  display: flex;
  align-items: center;
}

.user-icon svg {
  width: 20px;
  font-size: 20px;
}

.user-icon-chevron {
  height: 20px;
  margin-right: -4px;
}

.user-icon-chevron svg {
  font-size: 20px;
  height: 20px;
  margin-left: 1px;
}

@media (max-width: 1070px) {
  .random-logo-skeleton {
    width: 30px;
  }
}

@media (max-width: 1200px) {
  .loginsignup {
    min-width: 200px;
  }
}

@media (max-width: 995px) {
  .navbar-user-dropdown {
    margin-left: 5px;
  }
}
