.search-results-sorting {
  display: flex;
  position: relative;
  width: min-content;
}

.search-results-sort {
  font-family: var(--font-family-noto);
  font-size: 12px;
  border-radius: 1000px;
  border: none;
  min-height: 24px;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 8px;
  height: 24px;
  display: flex;
  align-items: center;
  min-width: 32px;
  cursor: pointer;
  color: var(--main-text-color);
  justify-content: space-between;
  background: transparent;
  position: relative;
}

.search-results-sort:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: #fff;
  opacity: 0;
}

.search-results-sort:hover:before {
  opacity: 0.08;
}

.search-results-sort:focus:before {
  opacity: 0.16;
}

.search-results-sort svg {
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  line-height: 18px;
  margin-left: 4px;
  width: 18px;
}

.sort-open {
  background: #f6f7f8;
}

.search-results-sort-dropdown {
  margin-top: 4px;
  box-shadow: 0 4px 12px hsl(0deg 0% 44% / 15%);
  border-radius: 4px;
  color: var(--main-text-color);
  overflow: hidden;
  background: var(--ribbit-main);
  position: absolute;
  width: 120px;
  z-index: 10;
}

.search-results-sort-dropdown {
  top: 0;
  left: 0;
}

.search-results-sort-dropdown li {
  font-family: var(--font-family-noto);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 8px;
  min-width: 120px;
  padding-left: 12px;
  width: 120px;
  padding-right: 12px;
  border: none;
  outline: none;
  color: #878a8c;
  cursor: pointer;
  text-align: left;
  background: var(--ribbit-main);
  border-radius: 0;
}

.search-results-sort-dropdown li:hover {
  background: #e9f5fd;
  color: var(--main-text-color);
}

.sort-dropdown-btn-active {
  color: var(--highlight-color) !important;
}

.sort-dropdown-btn-active:hover {
  background: #e9f5fd !important;
  color: var(--highlight-color) !important;
}

.sort-set {
  font-weight: 700;
}

.search-results-sort-bar {
  margin-bottom: 4px;
}
