.form-field {
  position: relative;
  height: 50px;
  margin-top: 16px;
  width: 100%;
}

.form-field label {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 2;
  font-size: 16px;
  padding: 22px 12px 10px;
  transition: all 0.2s ease-in-out;
  font-family: "IBM Plex Sans", sans-serif;
  color: #737577;
  left: 4px;
  top: -9px;
}

.form-field input {
  background-color: transparent;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 280px;
  height: 46px;
  padding-left: 16px;
  padding-right: 36px;
  padding-top: 20px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  transform-origin: 0 50%;
  outline: none;
  transition: all 0.2s ease-in-out;
  border-color: transparent;
  background: #f6f7f8;
}

.form-field input:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.form-field input:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

.form-field input.errors-true {
  border: 1px solid #ea0027;
}

.form-field input:focus + label,
input:not(:placeholder-shown) ~ label {
  /* top: -10px; */
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}

.form-field input:hover + label {
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}

.login-form-container {
  background: white;
  border-radius: 12px;
  border: 1px solid black;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  margin: 0 auto;
  color: #1c1c1c;
}

.login-form {
  position: relative;
  max-width: 280px;
  width: 100%;
  color: inherit;
}

.or-dividers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  margin-top: 24px;
}

.or-line {
  width: 40%;
  border-bottom: 1px solid #edeff1;
}

.or-label {
  color: #787c7e;
  font-weight: 700;
  font-size: 14px;
}

.demo-btn {
  width: 280px;
  background: white;
  border: 1px solid #dadce0;
  height: 40px;
  outline: none;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 100px;
  transition: all 0.3s;
  white-space: nowrap;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #3c4043;
  letter-spacing: 0.25px;
  text-overflow: ellipsis;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.demo-btn svg {
  font-size: 18px;
  margin: 2px 8px 0 0;
  /* float: left; */
  /* flex: 1; */
}

.demo-btn:hover {
  background: rgba(66, 133, 244, 0.04);
}

.login-form-errors {
  color: #fb133a;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  padding-left: 16px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 2px;
  transition: all 0.2s ease-in-out;
}

.login-form-submit {
  border-radius: 1000px;
  height: 40px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  background: #d93a00;
  width: 100%;
  font-weight: 700;
  padding: 0 16px;
  margin-top: 18px;
  border: 0;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.login-form-submit:hover {
  background: #dc4a14;
}

.sign-in-switch {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 16px;
  font-weight: 400;
  color: #1a1a1b;
}

.sign-in-switch a {
  color: #0079d3;
  text-decoration: underline;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 24px;
  font-size: 12px;
}
