.form-field {
  position: relative;
  height: 50px;
  margin-top: 16px;
}

.form-field label {
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 2;
  font-size: 16px;
  padding: 22px 12px 10px;
  transition: all 0.2s ease-in-out;
  font-family: "IBM Plex Sans", sans-serif;
  color: #737577;
  left: 8px;
  top: -14px;
}

.form-field input {
  background-color: transparent;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 280px;
  height: 46px;
  padding-left: 16px;
  padding-right: 36px;
  border-radius: 9999px;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  transform-origin: 0 50%;
}

.form-field input:focus + label,
input:not(:placeholder-shown) ~ label {
  top: -10px;
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}

.form-field input:hover + label {
  top: -10px;
  font-size: 12px;
  transform: translate3d(0, -10px, 0);
}

.login-form-container {
  background: white;
  border-radius: 12px;
  border: 1px solid black;
  max-width: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 640px;
  margin: 0 auto;
  color: #1c1c1c;
}

.login-form {
  position: relative;
  max-width: 280px;
  color: inherit;
}
