.comments-sort-bar {
  position: relative;
  width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #edeff1;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

.comments-container {
  background: white;
  width: 100%;
  margin-bottom: 20px;
}

.comments-main {
  margin-right: 32px;
  padding-left: 10px;
  padding-top: 8px;
  margin-top: 16px;
}

.comment-system .username-component-wrapper {
  margin: 0;
}

.log-in-to-comment {
  color: var(--highlight-color);
  text-decoration: none;
  margin-right: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  height: auto;
  padding: 0;
  display: inline-block;
}

.log-in-to-comment:hover {
  text-decoration: underline;
}

.the-actual-comment {
  display: flex;
  padding: 0 10px;
  margin-left: -8px;
  margin-top: 16px;
}

.the-actual-comment.active {
  padding: 8px 0 0 8px;
  background: rgba(0, 121, 211, 0.05);
}

.view-all-comments-btn {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--community-base-color);
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  background: transparent;
  height: auto;
  padding: 0;
  line-height: 20px;
  font-family: var(--font-family-ibm);
  margin-left: 30px;
  margin-top: -10px;
}

.view-all-comments-btn:hover {
  text-decoration: underline;
}

.comment-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.comment-user-img {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  background-position: center;
  background-size: cover;
  margin-left: 4px;
}

.comment-right-col {
  margin-left: 10px;
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
}

.comment-threadline {
  border-right: 2px solid #edeff1;
  height: 100%;
  margin-top: 10px;
  width: 5px;
}

.comment-right-username {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 6px;
  font-size: 12px;
  color: #7c7c7c;
  padding: 0;
  display: flex;
  align-items: center;
}

.comment-right-username .username-component {
  color: #1a1a1b;
  font-weight: 500;
}

.comment-right-username a {
  font-size: 12px;
  font-family: var(--font-family-ibm);
  color: #1a1a1b;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: auto;
}

.comment-right-username a:hover {
  text-decoration: underline;
}

.comment-right-content {
  font-size: 14px;
  font-family: var(--font-family-noto);
  line-height: 21px;
  margin-top: 2px;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.comment-right-content a {
  text-decoration: underline;
  color: var(--highlight-color);
}

.comment-right-username .single-post-topbar-dot {
  margin-right: 4px;
  margin-left: 4px;
  font-family: var(--font-family-ibm);
  font-size: 12px;
}

.comment-owner-btns {
  display: flex;
  align-items: center;
  font-family: var(--font-family-ibm);
  font-size: 12px;
  margin: 4px 0;
}

.comment-btns {
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 2px;
}

.comment-owner-btns button {
  background: none;
  border: none;
  padding: 6px 4px;
  cursor: pointer;
  color: #878a8c;
  font-weight: 700;
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 12px;
  border-radius: 2px;
  align-items: center;
  display: flex;
  height: 100%;
  line-height: 20px;
  margin-right: 4px;
  text-align: left;
  transition: color 0.1s;
  white-space: nowrap;
  font-family: var(--font-family-ibm);
}

.comment-vote-btns {
  display: flex;
  align-items: center;
  margin: 3px 4px 4px -4px;
}

.comment-vote-btns button {
  background: none;
  outline: none;
  border: none;
  font-size: 24px;
  color: rgb(135, 138, 140);
  cursor: pointer;
  border-radius: 2px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-vote-btns button:hover,
.comment-owner-btns button:hover {
  background: rgba(26, 26, 27, 0.1);
}

.comment-owner-btns button svg {
  margin-right: 6px;
  font-size: 20px;
  height: 20px;
  width: 20px;
  color: #878a8c;
}

.comment-vote-btns button svg {
  margin-right: 0;
}

.comment-vote-btns .karmabar-votes {
  margin: 4px;
  width: auto;
}

.upvote-btn-grey,
.downvote-btn-grey,
.vote-btn-red,
.vote-btn-blue {
  padding: 0 !important;
  height: 20px;
  font-size: 20px;
}

.upvote-btn-grey:hover {
  color: #cc3700;
}

.downvote-btn-grey:hover {
  color: #5a75cc;
}
.vote-btn-red {
  color: #ff4500 !important;
}

.vote-btn-blue {
  color: #7193ff !important;
}

.comment-owner-btns .post-karma-upvote,
.comment-owner-btns .post-karma-downvote {
  font-size: 24px;
  padding: 0;
  padding-right: 2px;
  text-align: center;
  margin: 0;
}

.comment-owner-btns .post-karma-downvote {
  margin-right: 4px;
  padding-left: 2px;
}

.comment-owner-btns .post-karma-number {
  padding: 0;
  margin: 4px;
  margin-left: 0;
  margin-right: 8px;
  font-weight: 700;
  width: auto;
  pointer-events: none;
}

.comment-owner-btn-like {
  font-size: 20px !important;
}

.comment-owner-btn-liked {
  color: rgb(236, 74, 74) !important;
  font-size: 20px !important;
}

.reply-icon {
  font-size: 19px;
  margin-right: 7px;
  margin-top: 2px;
}

.no-comments-msg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 340px;
  color: #7c7c7c;
  opacity: 0.6;
  font-weight: 500;
  font-size: 22px;
}

.no-comments-msg svg {
  opacity: 0.6;
  color: var(--community-highlight);
}

.no-comments-yet {
  font-size: 18px;
  font-family: var(--font-family-ibm);
  margin-bottom: 12px;
  margin-top: 20px;
}

.no-comments-msg p {
  font-size: 14px;
  font-family: var(--font-family-ibm);
}

.op-sign {
  color: var(--highlight-color);
  font-size: 12px;
  font-weight: 700;
  margin-left: 4px;
  font-family: var(--font-family-ibm);
}

.insert-link-modal {
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: 5px;
}

.link-modal-form {
  display: flex;
  flex-direction: column;
}

.insert-link-button {
  width: 100px;
  border-radius: 100px;
  padding: 10px;
  border: 0;
  bottom: 0;
  font-size: 14px;
}

.comment-form-container {
  margin: 24px 40px 24px 48px;
  border-radius: 4px;
  overflow: hidden;
}

.post-comment-textarea {
  border: none;
  min-height: 138px;
  width: 100%;
  max-width: 650px;
  padding: 8px 16px;
  font-family: var(--font-family-noto);
  font-size: 14px;
  border-radius: 4px 4px 0 0;
  font-weight: 400;
  line-height: 21px;
  outline: none;
  resize: vertical;
}

.comment-box {
  display: flex;
}

.post-comment-box {
  margin-top: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-comment-box:focus-within {
  border: 1px solid #1a1a1b;
}

.comment-form label {
  font-family: var(--font-family-noto);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.comment-form label a {
  text-decoration: none;
  font-family: var(--font-family-noto);
  font-size: 12px;
  font-weight: 400;
  color: var(--community-highlight);
  margin-left: 4px;
}

.comment-form label a:hover {
  text-decoration: underline;
}

.comment-submit {
  padding: 4px 20px;
  margin: 4px 8px;
  background-color: var(--community-highlight);
  border: 1px solid transparent;
  border-radius: 50px;
  font-family: var(--font-family-noto);
  font-weight: 700;
  line-height: 16px;
  font-size: 12px;
  height: 24px;
  min-width: 24px;
  width: auto;
  cursor: pointer;
  color: white;
}

.comment-submit:hover {
  opacity: 0.9;
}

.comment-submit:disabled {
  background: #3293db;
  filter: grayscale(1);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.comment-form-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f7f8;
  width: 100%;
  padding: 2px;
  padding-left: 10px;
  max-width: 650px;
  margin-top: -5px;
  border: 1px solid #edeff1;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.comments-sort-btn-container button {
  color: var(--highlight-color);
  background: white;
  font-family: var(--font-family-ibm);
  font-size: 12px;
  font-weight: 700;
  border: none;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
}

.comments-sort-btn-container button {
  cursor: pointer;
}

.comments-sort-btn-container svg {
  margin-left: 5px;
}

.comments-sort-btn-container {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-sorting-face {
  display: flex;
  align-items: center;
}

.comment-sorting-face svg {
  cursor: pointer;
  fill: var(--community-highlight);
  margin: 0 0 0 -5px;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  font-size: 12px;
}

.comment-form-errors {
  color: red;
}

.comment-was-edited {
  font-style: italic;
  font-family: var(--font-family-ibm);
  display: flex;
}

.comment-original-time {
  font-family: var(--font-family-noto);
}

.all-comments {
  margin: 16px 16px 0 10px;
}

.comments-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 352px;
  width: 100%;
}
.post-comment-box .quill {
  display: flex;
  flex-direction: column-reverse;
}

.comment-sorting {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--community-highlight);
  cursor: pointer;
  position: relative;
}

.comment-sorting-sortby {
  margin: 4px 8px 4px 0;
  text-transform: capitalize;
}

.comment-sorting-dropdown {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  border: 1px solid #edeff1;
  position: absolute;
  overflow: hidden;
  color: var(--main-text-color);
  top: 23px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100px;
}

.comment-sorting-dropdown-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 8px;
  white-space: nowrap;
  color: #878a8c;
  background: white;
  border: none;
  font-family: var(--font-family-ibm);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 0;
}

.comment-sorting-dropdown-btn:hover {
  color: var(--main-text-color);
  background: #e9f5fd;
}

.sorting-active-btn {
  color: var(--highlight-color);
}

.sorting-active-btn:hover {
  color: var(--highlight-color);
}

.collapsed-comment {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.collapsed-comment svg {
  cursor: pointer;
  margin: 0 8px;
  font-size: 12px;
  color: var(--highlight-color);
  transform: rotate(90deg);
}
.collapsed-comment-user-img img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 100%;
}

.collapsed-comment-user-info {
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  width: auto;
}

.comment-centered {
  display: flex;
  align-items: center;
}

.comment-moving-btn {
  font-size: 12px;
  color: var(--community-highlight);
  cursor: pointer;
}

.comment-moving-btn svg {
  transform: rotate(90deg);
}

.comment-moving-btn {
  transition: width 0.05s, transform 0.05s;
  transition-timing-function: ease-out;
  margin-left: 8px;
  margin-right: 8px;
}

.comment-moving-btn.btn-moved {
  transform: translateX(-12px);
  opacity: 0;
  margin: 0;
  width: 0;
}

.comment-moving-btn.btn-unmoved {
  opacity: 1;
  transition-timing-function: ease-in;
  transform: translateX(0);
}

.collapsed-comment-username {
  font-family: var(--font-family-ibm);
  color: #1a1a1b;
}

.collapsed-comment-date {
  font-family: var(--font-family-noto);
  color: #7c7c7c;
  font-weight: 400;
}

.collapsed-comment-dot {
  font-size: 10px;
  font-family: var(--font-family-noto);
  color: #7c7c7c;
  font-weight: 400;
  margin: 0 2px;
}

.comment-collapse {
  display: none;
}

.sort-search {
  border-bottom: 1px solid #edeff1;
  padding: 0 16px 4px 0;
  margin: 4px 48px;
  display: flex;
  align-items: center;
}

.comment-sort-search-separator {
  line-height: 20px;
  color: #edeff1;
  padding: 0 12px;
}

.comment-search-input {
  border: 1px solid #edeff1;
  border-radius: 4px;
  box-shadow: none;
  color: #1c1c1c;
  height: 32px;
  padding: 0 24px 0 32px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.comment-search-label {
  position: relative;
  display: flex;
  align-items: center;
}

.comment-search-label > div {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.comment-search-dismiss {
  position: absolute;
  right: 5px;
  vertical-align: middle;
  padding: 0;
  border: 0;
  background: none;
  font-size: 16px;
  color: #3d3d3d;
  height: fit-content;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.comments-search-no-results {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 32px 40px;
}

.all-comments-btn {
  padding-top: 16px;
  margin: 0 48px 4px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: var(--font-family-noto);
}

.all-comments-btn button {
  color: var(--community-base-color);
  margin: 0;
}

.adjust-search-btn {
  color: var(--community-base-color);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--highlight-color);
  opacity: 0.3;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
