.post-format-face-wrapper {
  position: relative;
}

.post-format-face-wrapper img {
  width: 18px;
  height: 18px;
}

.post-format-face {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 32px;
  padding: 0 8px;
  border-color: transparent;
  background: white;
}

.post-format-face:hover {
  background: #f6f7f8;
}

.post-format-face-wrapper svg {
  font-size: 20px;
  margin-left: 0;
  margin-right: -4px;
  color: #878a8c;
}

.post-format-dropdown {
  border: 1px solid #edeff1;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  color: #1c1c1c;
  overflow: hidden;
  background-color: white;
  position: absolute;
  z-index: 1000;
  width: max-content;
}

.post-format-btn {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  padding: 8px;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 0;
  background: white;
  border-color: transparent;
  display: flex;
  align-items: center;
  color: var(--community-highlight);
  border-bottom: 1px solid #edeff1;
  height: 37px;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
}

.post-format-btn:hover {
  color: black;
  background: #e9f5fd;
}

.post-format-btn svg {
  transform: rotate(90deg);
  margin-right: 4px;
  font-size: 18px;
}

.post-format-face svg:first-child {
  transform: rotate(90deg);
  margin-right: 4px;
}

.post-format-btn img {
  margin-right: 4px;
}

.format-btn-black {
  color: black;
}

.format-btn-grey {
  color: #878a8c;
}

.format-btn-active {
  color: var(--community-highlight);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: block;
  padding: 8px;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 0;
  background: white;
  border-color: transparent;
  display: flex;
  align-items: center;
  color: var(--community-highlight);
  border-bottom: 1px solid #edeff1;
  height: 37px;
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
}

.format-icon-bg {
  background-color: var(--community-highlight);
  /* border: 1px solid black; */
  height: 18px;
  width: 18px;
  margin-right: 4px;
}

.testing img {
  height: 100%;
  width: 100%;
}

@media (max-width: 960px) and (min-width: 1px) {
  .post-format-dropdown {
    right: 0;
  }
}
