.post-skeleton-container {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  color: #878a8c;
  position: relative;
  height: 441px;
  width: 100%;
}

.classic-post-skeleton-container {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  margin-bottom: 0;
  color: #878a8c;
  position: relative;
  width: 100%;
  padding-left: 40px;
  margin-bottom: -1px;
}

.post-skeleton-buttons {
  display: flex;
  gap: 8px;
}

.post-skeleton-voting {
  width: 40px;
  border-left: 4px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 4px 8px 0;
  position: absolute;
  top: 0;
  left: 0;
}

.post-skeleton-voting svg {
  height: 24px;
  width: 24px;
  color: rgb(179, 182, 184);
}

.post-skeleton-content {
  margin: 8px 0;
  margin-left: 48px;
}

.post-skeleton-voting-num {
  height: 16px;
  margin: 1.5px 0 1.5px -8px;
  width: 16px;
  border-radius: 4px;
}

.ckassic-post-skeleton-container .post-skeleton-voting-num {
  border-radius: 4px;
  height: 16px;
  margin: 1.5px 0;
  width: 16px;
}

.classic-post-skeleton-content {
  display: flex;
  margin: 8px 0;
}

.classic-post-skeleton-title {
  width: 328px;
  display: flex;
  flex-direction: column;
  margin-top: -8px;
}

.classic-post-skeleton-img {
  margin-left: 8px;
}

.classic-post-skeleton-right {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.classic-post-skeleton-author {
  margin-top: -4px;
}
