.loggedout-dropdown-wrapper {
  border: 1px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  min-height: 32px;
  position: relative;
  padding: 2px 0;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
}

.loggedout-dropdown-wrapper:hover {
  border-color: var(--secondary-border-color);
}

.loggedout-dropdown-wrapper svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  color: #878a8c;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}
