.logged-out-dropdown-wrapper {
  position: relative;
}

.logged-out-dropdown-wrapper:hover {
  border-color: var(--secondary-border-color);
}

.logged-out-dropdown-wrapper svg {
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  color: #878a8c;
  line-height: 20px;
  vertical-align: middle;
  width: 20px;
}

.logged-out-user-menu {
  position: relative;
}

.logged-out-dropdown {
  padding: 8px 0;
  width: 252px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);
  position: fixed;
  right: 10px;
  text-align: left;
  top: 45.5px;
  background: var(--ribbit-main);
  overflow-x: hidden;
  overflow-y: auto;
}
