.auth-modal-back {
  border: 0px;
  background: transparent;
  height: 40px;
  width: 40px;
  padding: 0 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.auth-modal-back:hover {
  background-color: #e2e7e9;
}

.auth-modal-back:active {
  background: linear-gradient(#00000029, #00000029);
}

.auth-modal-back svg {
  fill: var(--main-text-color);
}

:root[data-theme="dark"] .auth-modal-back:hover {
  background-color: var(--main-border-color);
}

.auth-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}
