.post-modal-background {
  background-color: rgba(28, 28, 28, 0.9);
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  position: fixed;
}

.post-modal-background:after {
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1280px;
  position: fixed;
  right: 17px;
  top: 0;
  width: calc(100% - 160px - 17px);
  background: var(--community-body-bg-img);
}

.post-modal-container {
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  backface-visibility: hidden;
}

.post-modal {
  height: 100%;
  overflow-y: auto;
  position: relative;
  width: 100%;
  will-change: transform;
  contain: layout style stize;
  overflow: scroll;
}

.post-modal-top-bar-container {
  background: #030303;
  box-sizing: border-box;
  height: 48px;
  left: 0;
  margin: 0 auto;
  max-width: 1280px;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  transition: top 0.3s ease;
  width: calc(100% - 160px);
  z-index: 70;
}

.post-modal-top-bar {
  padding: 0 32px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1128px;
  margin: auto;
}
