nav {
  display: flex;
  background: white;
  width: 400px;
  top: 0;
  left: 0;
  z-index: 200;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}

nav ul li {
  padding: 5px;
}
