.image-post-form {
  background: white;
  text-align: center;
  padding: 20px;
}

#post-img {
  opacity: 0;
}

.post-img-btn {
  cursor: pointer;
  border-radius: 100px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: #0079d3;
  border: 1px solid #0079d3;
  padding: 4px 16px;
  height: 32px;
  outline: none;
}

.image-post-img,
.image-post-preview {
  max-width: 100%;
  margin-top: 20px;
  display: block;
  max-height: 512px;
}

.image-post-img {
  max-height: 700px;
}
