.community-selection {
  position: relative;
  margin-bottom: 8px;
  width: min-content;
}

.community-selection-input-box {
  position: relative;
  border-radius: 4px;
  height: 40px;
  min-width: 300px;
  border: 1px solid var(--secondary-border-color);

  background: var(--ribbit-main);
  box-shadow: 0 0 0 0 var(--newCommunityTheme-body);
  padding: 0 8px;
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #878a8c;
  transition: box-shadow 0.2s ease;
}

.community-selection-input-box:focus-within {
  box-shadow: 0px 0px 2px 1px var(--secondary-border-color);
}

.community-dropdown-img {
  max-width: 20px;
  width: 100%;
  max-height: 20px;
  height: 100%;
  border-radius: 100%;
}

.dotted-circle {
  border-radius: 100px;
  border: 1px dashed #878a8c;
  height: 22px;
  width: 22px;
  font-size: 22px;
  line-height: 22px;
}

.community-selection-input,
.community-selection-input-txt {
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--main-text-color);
  margin-left: 8px;
  width: 100%;
  flex: 1;
  cursor: text;
  background: transparent;
}

.community-selection-input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: var(--main-text-color);
}

.community-selection-span {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
  margin-left: 8px;
  margin-right: -8px;
}

.inner-input-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.chevron-down-icon {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #878a8c;
  max-height: 22px;
}

.community-selection-dropdown {
  background: var(--ribbit-main);
  height: 400px;
  overflow-y: scroll;
  margin-top: -2px;
  z-index: 10;
  position: absolute;
  top: 40px;
  border: 1px solid var(--secondary-border-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: rgb(255, 255, 255) 0px -3px 0px -1px,
    var(--secondary-border-color) 0px 0px 2px 1px;
  width: 100%;
}
.community-selection-dropdown-topbar {
  display: flex;
  padding: 8px 8px 3px 16px;
  justify-content: space-between;
  align-items: center;
}

.community-selection-dropdown-topbar h5 {
  font-size: 10px;
  font-weight: 700;
  color: #878a8c;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.community-selection-dropdown-new-community {
  font-family: var(--font-family-noto);
  font-weight: 700;
  text-transform: capitalize;
  background: var(--ribbit-main);
  color: var(--highlight-color);
  padding: 4px 8px;
  border-radius: 100px;
  border: 1px solid white;
  line-height: 16px;
  min-height: 24px;
  cursor: pointer;
  font-size: 12px;
}

.community-selection-dropdown-new-community:hover {
  background: var(--secondary-border-color);
}

.community-selection-dropdown-community {
  display: flex;
  width: 100%;
  padding: 8px;
  z-index: 20;
  cursor: pointer;
  height: 50px;
}

:root[data-theme="dark"] .community-selection-dropdown-community:hover {
  background: var(--main-input-bg-color);
}

.community-selection-community-img {
  border-radius: 100%;
  min-width: 32px;
  min-height: 32px;
  margin: 2px 8px 2px 0;
}

.community-selection-dropdown-community-details {
  display: flex;
  flex-direction: column;
}

.community-selection-community-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--main-text-color);
  line-height: 18px;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.community-selection-community-members {
  font-size: 12px;
  line-height: 16px;
  color: #878a8c;
}

@media (max-width: 590px) {
  .community-selection {
    width: 100%;
    min-width: auto;
  }

  .community-selection-input-box {
    min-width: auto;
  }
}
