.community-page-container {
  margin-top: 50px;
  height: calc(100vh - 49px);
  width: 100%;
  margin: 0;
}

.community-header-info {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 0 24px;
  height: 100%;
}

.community-header-info-alt {
  width: 100%;
  padding-left: 24px;
}

.community-page-header-top {
  height: var(--community-banner-height);
  width: 100%;
  background: var(--community-banner-img);
  background-color: var(--community-banner-color);
  padding: 8px 16px;
}

.community-page-header-btm {
  width: 100%;
  background: var(--ribbit-main);
}

.chev {
  margin-left: 8px;
}

.community-page-main {
  /* background: var(--community-body-bg); */
  width: auto;
  display: flex;
  justify-content: center;
  padding: var(--padding-standard);
  min-height: calc(100vh - 208px);
}

.community-body-bg-div {
  min-height: 100%;
  overflow: hidden;
  position: relative;
  flex: none;
  z-index: -1;
}
.community-body-bg-div:before {
  content: " ";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  will-change: transform;
  background: var(--community-body-bg-img);
}

:root[data-theme="dark"] .community-body-bg-div:before {
  background: var(--background);
}

.community-page-left-col {
  width: 100%;
}

.community-page-left-col-alt {
  max-width: 100%;
  width: 100%;
}

.community-page-left-col a:visited .single-post-main {
  color: grey;
}

.community-page-right-col {
  width: 100%;
  max-width: 310px;
  min-height: 100%;
  margin-left: 24px;
}

.community-page-community-info {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  background: var(--ribbit-main);
  border: 1px solid var(--main-border-color);
  margin-bottom: 16px;
}

.community-page-left-col .single-post-container:hover {
  border: 1px solid #898989;
}

.community-page-left-col .single-post-container {
  border: 1px solid var(--main-border-color);
}

.community-header-info-details {
  display: flex;
  margin-top: 10px;
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  margin-top: -14px;
  margin-bottom: 12px;
}

.community-page-box-date {
  display: flex;
  color: #7c7c7c;
  font-family: var(--font-family-noto);
  font-size: 0.925rem;
  font-weight: 400;
  align-items: center;
  margin-top: 12px;
}

.community-cake-icon {
  display: flex;
  align-items: center;
}

.community-cake-icon svg {
  stroke: var(--main-text-color);
  color: var(--main-text-color);
  margin-right: 0.5rem;
  transform-origin: center;
}
.community-page-box-content {
  padding: 12px;
}

.community-page-box-description-plain {
  font-family: var(--font-family-noto);
  font-size: 0.925rem;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  color: var(--main-text-color);
}

.community-page-box-description {
  font-family: var(--font-family-noto);
  font-size: 0.925rem;
  font-weight: 400;
  line-height: 21px;
  word-wrap: break-word;
  color: var(--main-text-color);
  transition: all 0.1s linear 0s;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.community-page-box-description:hover {
  border: 1px solid var(--community-highlight);
  padding: 4px;
}

.community-page-edit-description:hover {
}

.community-page-box-description svg {
  font-size: 18px;
  color: var(--community-highlight);
  line-height: 20px;
  vertical-align: middle;
  margin-left: 4px;
  margin-bottom: 2px;
}

.community-page-box-description.community-page-edit-description {
  background: var(--main-input-bg-color);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
  cursor: pointer;
  display: block;
  border: 1px solid var(--community-highlight);
  transition: none;
}

.community-page-edit-description textarea {
  cursor: auto;
  font-family: var(--font-family-noto);
  font-size: 0.925rem;
  line-height: 21px;
  font-weight: 400;
  color: var(--main-text-color);
  border: none;
  background: transparent;
  font-family: inherit;
  overflow: hidden;
  resize: none;
  width: 100%;
  overflow-wrap: break-word;
}

.edit-community-description-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.edit-community-description-bar-left {
  /* font-weight: 300; */
  font-size: 12px;
  color: #878a8c;
  padding-top: 10px;
  flex: 100%;
  line-height: 16px;
}

.edit-community-description-cancel,
.edit-community-description-save {
  height: auto;
  border: none;
  padding: 0;
  background: inherit;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  font-family: var(--font-family-ibm);
  align-self: flex-end;
  user-select: none;
  line-height: 16px;
}

.edit-community-description-cancel {
  color: #ff0000;
  margin-right: 8px;
}

.edit-community-description-save {
  color: var(--community-highlight);
}

.edit-community-description-red {
  color: red;
}

.edit-community-description-add-description {
  color: #0079d3;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

:root[data-theme="dark"] .edit-community-description-add-description {
  color: var(--main-text-color);
}

.community-btn {
  border-color: var(--community-highlight);
  color: var(--community-highlight) !important;
}

.community-btn-filled {
  background: var(--community-highlight) !important;
  border-color: var(--community-highlight) !important;
}

.community-btn::before {
  background: var(--community-highlight) !important;
}

.community-header-info-details-left {
  align-items: flex-start;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex: 1;
  flex: 1;
  padding-left: 16px;
  margin-top: 24px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 80px);
}

.add-description-box {
  transition: all 0.1s linear 0s;
  background: var(--main-input-bg-color);
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 12px;
  margin-top: 8px;
  cursor: pointer;
  border: 1px solid #dae0e6;
}

.add-description-box:hover {
  padding: 8px;
}

.community-header-info-details-right {
  display: flex;
}

.community-page-box-btn {
  border-top: 1px solid var(--secondary-border-color);
  margin-top: 16px;
  padding-top: 8px;
}

.community-page-box-btn button {
  margin-top: 8px;
}

.community-header-info-display-name {
  display: inline-block;
  max-width: calc(100% - 96px);
  padding-right: 24px;
}

.community-header-info-display-name h1 {
  display: inline-block;
  -ms-flex: 1;
  flex: 1;
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  overflow: hidden;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow-wrap: break-word;
  width: 100%;
  color: var(--main-text-color);
}

.community-header-info-img {
  display: flex;
  flex-direction: column;
}

.community-header-info-img img {
  font-size: 70px;
  color: #7c7c7c;
  border: 4px solid white;
  border-radius: 1000px;
  height: 80px;
  width: 80px;
  background-color: var(--community-base-color);
  object-fit: cover;
}

.community-update-icon {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--community-highlight);
  cursor: pointer;
  text-align: center;
  margin-top: 6px;
}

.community-header-info-display-name h2 {
  font-size: 0.925rem;
  font-weight: 500;
  color: #7c7c7c;
  line-height: 18px;
}

.community-page-box-header {
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  border-radius: 3px 3px 0 0;
  background-color: var(--community-base-color);
  padding: 0 12px 12px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
}

:root[data-theme="dark"] .community-page-box-header {
  background-color: transparent;
}

.community-page-right-col .community-page-box-header {
  background-color: var(--community-banner-color);
  background-image: none;
}

.community-page-box-header-left {
  padding-top: 12px;
  line-height: 20px;
}

.community-page-box-header-right {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.community-page-menu {
  position: relative;
}

.community-page-menu button {
  border-radius: 2px;
  background: transparent;
  border: 0;
  padding: 0 2px 0 4px;
  vertical-align: middle;
  color: inherit;
  height: auto;
  font-size: inherit;
  cursor: pointer;
  position: relative;
}

.community-page-menu svg {
  color: var(--community-base-color-text);
  font-size: 20px;
}

:root[data-theme="dark"] .community-page-menu svg {
  color: #7c7c7c;
}

.community-info-menu {
  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);
  background: var(--ribbit-main);
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  color: var(--main-text-color);
  position: absolute;
  z-index: 10;
  right: 0;
  width: 170px;
  overflow: hidden;
}

:root[data-theme="dark"] .community-info-menu {
  box-shadow: 0 2px 6px 0 rgba(255, 255, 255, 0.07);
}

.community-info-menu button {
  height: auto;
  border-radius: 0;
  cursor: pointer;
  background: var(--ribbit-main);
  font-size: 0.925rem;
  font-weight: 500;
  line-height: 18px;
  display: block;
  padding: 8px;
  width: 100%;
  text-align: left;
  text-transform: capitalize;
  border: none;
  font-family: var(--font-family-ibm);
  white-space: nowrap;
  color: #878a8c;
}

.community-info-menu button:hover {
  color: var(--main-text-color);
}

:root:not([data-theme="dark"]) .community-info-menu button:hover {
  background-color: #edf5fd;
}

:root[data-theme="dark"] .community-info-menu button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: var(--main-text-color);
  opacity: 0;
}

:root[data-theme="dark"] .community-info-menu button:hover::before {
  opacity: 0.08;
}

.community-info-menu:not(:first-child) {
  border-top: 1px solid var(--secondary-border-color);
  border-bottom: none;
}

.community-page-box-header h3 {
  color: var(--community-base-color-text);
  font-weight: 700;
  font-size: 0.925rem;
  letter-spacing: 0.5px;
}

:root[data-theme="dark"] .community-page-box-header h3 {
  color: #7c7c7c;
}

.community-page-mod-tools {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  font-family: var(--font-family-ibm);
  color: var(--community-base-color-text);
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
}

.community-page-mod-tools::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background: var(--main-text-color);
  opacity: 0;
}

.community-page-mod-tools:hover::before {
  opacity: 0.08;
}

.community-page-mod-tools svg {
  font-size: 24px;
  color: var(--community-base-color-text);
  margin-right: 4px;
}

:root[data-theme="dark"] .community-page-mod-tools svg,
:root[data-theme="dark"] .community-page-mod-tools {
  color: #7c7c7c;
}

.community-no-posts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: thin solid #ccc;
  text-align: center;
}

.community-no-posts-div {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background: none;
  opacity: 0.4;
  background: var(--main-input-bg-color);
}

.community-no-posts-notice {
  width: 100%;
  position: relative;
  height: 100%;
}

.community-no-posts {
  margin: 80px auto;
  width: 80%;
}

.community-no-posts-title,
.community-no-posts-content {
  font-family: var(--font-family-ibm);
  font-weight: 500;
  margin: 16px;
  color: var(--main-text-color);
  text-align: center;
}

.community-no-posts-title {
  font-size: 18px;
  line-height: 22px;
}

.community-no-posts-content {
  font-size: 0.925rem;
  line-height: 18px;
}

.community-no-posts-btn {
  width: 200px;
  margin: 16px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.community-page-box-members {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  border-top: 1px solid var(--secondary-border-color);
  margin-top: 16px;
}

.community-page-box-members h2 {
  font-weight: 400;
  font-family: var(--font-family-noto);
  margin-bottom: 7px;
  color: var(--main-text-color);
}

.community-page-box-members span {
  color: #7c7c7c;
  font-weight: 400;
  font-size: 16px;
}

.edit-community-form-container img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.red-counter {
  color: #ea0027;
}

.community-img-box {
  position: relative;
}
.community-img-upload-btn {
  position: absolute;
  border-radius: 100px;
  background: var(--ribbit-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--community-highlight);
  cursor: pointer;
  z-index: 11;
  width: 30px;
  height: 30px;
  bottom: 0;
  font-size: 20px;
  color: var(--community-highlight);
  left: 45px;
}

.community-img-upload-btn img {
  width: 18px;
  height: 18px;
  margin: 4px;
  cursor: pointer;
}

.community-page-community-rules {
  background: var(--ribbit-main);
  border-radius: 4px;
  border: 1px solid var(--main-border-color);
  overflow: hidden;
}

.community-page-rules-header {
  background: var(--community-base-color);
  color: var(--community-base-color-text);
  padding: 12px;
  font-size: 0.925rem;
  font-weight: 700;
  line-height: 18px;
}

:root[data-theme="dark"] .community-page-rules-header {
  color: #7c7c7c;
  background: transparent;
}

.community-page-rules {
  padding: 12px;
}

.community-page-rule {
  padding: 8px 0;
  font-size: 0.925rem;
  font-weight: 500;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.community-page-rules li {
  color: var(--main-text-color);
  border-bottom: 1px solid var(--secondary-border-color);
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  font-size: 0.925rem;
  font-weight: 500;
  line-height: 18px;
  font-family: var(--font-family-ibm);
  width: 100%;
}

.community-page-rules ol li {
  margin: 0;
}

.community-page-rules ol {
  list-style-type: none;
  margin: 0;
}

.rule-num {
  margin-right: 5px;
  height: 100%;
}

.rule-title-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.rule-title-box svg {
  font-size: 20px;
  font-weight: 400;
}

.rule-num {
  flex: 0 0;
}

.rule-title {
  flex: 1 1 100%;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
}

.rule-pointer {
  cursor: pointer;
}

.rule-description {
  font-family: var(--font-family-noto);
  font-weight: 400;
  font-size: 0.925rem;
  padding: 8px 8px 0 16px;
  word-break: break-word;
}

.rule-description a {
  color: #0079d3;
  text-decoration: underline;
}

.community-rule {
  font-family: var(--font-family-noto);
  font-size: 0.925rem;
  font-weight: 400;
  line-height: 21px;
  border-bottom: 1px solid var(--secondary-border-color);

  padding: 16px 8px;
}

.add-rule-btn:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  background: #3293db;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

.community-edit-rule {
  width: 100%;
}

.community-edit-rule-face {
  padding: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  border: 1px solid var(--secondary-border-color);
  border-top: none;
}

.community-edit-rule-title {
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: break-word;
  padding-right: 50px;
}

.community-edit-rule-icons {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #878a8c;
}

.community-edit-rule-icons svg {
  cursor: pointer;
}

.community-edit-rule-icons svg:hover {
  color: var(--main-text-color);
}

.rule-pencil {
  font-size: 0.925rem;
  margin-right: 15px;
}

.rule-expand,
.rule-collapse {
  transform: rotate(90deg);
}

.community-edit-rule-expanded {
  background: var(--secondary-border-color);
  padding: 4px 20px 8px;
  border: 1px solid #d6d6d6;
  word-break: break-word;
  display: flex;
}

.community-edit-rule-expanded-section {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin-right: 20px;
  padding: 8px 0;
}

.rule-expanded-content a {
  text-decoration: underline;
  color: #0079d3;
}

.rule-expanded-title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  font-family: var(--font-family-ibm);
  text-transform: uppercase;
}

.rule-expanded-content {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  font-family: var(--font-family-noto);
}

.preview-community-page {
  display: flex;
  position: relative;
}

.scoot-over .navbar-nav {
  padding-left: 320px;
}

.scoot-over .main {
  padding-left: 284px;
}

@media (max-width: 960px) {
  .community-page-right-col {
    display: none;
    margin: 0;
  }

  .community-page-left-col {
    max-width: 100%;
  }

  .community-page-main {
    margin: 0;
  }
}
