.post-sorting-bar {
  width: 100%;
  background: var(--ribbit-main);
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  height: 60px;
}

.post-sorting-bar-left {
  display: flex;
}

.post-sorting-bar-btn {
  border-radius: 20px;
  margin-right: 8px;
  color: #878a8c;
  padding: 6px 8px;
  background: none;
  outline: none;
  border: none;
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: 34px;
  position: relative;
}

.post-sorting-bar-btn:hover {
  background: var(--main-text-color) 11;
}

.post-sorting-bar-btn:hover:before {
  opacity: 0.08;
}

.post-sorting-bar-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--main-text-color);
  opacity: 0;
}

.post-sorting-bar-btn:active:before {
  opacity: 0.24;
}

.post-sorting-bar-btn:focus:before {
  opacity: 0.16;
}

.post-sorting-bar-btn svg {
  padding-right: 8px;
  font-size: 20px;
}

.post-sorting-bar-btn.active-sort-btn {
  color: var(--highlight-color);
  background: #f6f7f8;
}

.community-sorting-bar-btn.active-sort-btn {
  color: var(--community-highlight);
}

.post-sorting-bar-btn:hover,
.post-sorting-bar.active-sort-btn:hover {
  background: var(--main-text-color) 11;
}
