.single-image-page {
  padding: 20px;
  height: calc(100vh - 48px);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-image-page-img {
  height: 100%;
  width: auto;
}

.image-post-img {
  cursor: pointer;
}
