.messages-header {
  background-color: #0079d3;
  border-bottom: none;
  /* padding: 0 20px 0 100px; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.messages-header ul {
  margin: 0 20px 0 100px;
}

.messages-main-menu-item {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  padding: 0 10px;
  font-size: larger;
  background-color: transparent;
  color: #edeff1;
  text-transform: capitalize;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.messages-content-message-button {
  color: #888;
  font-weight: bold;
  padding: 0 1px;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background: transparent;
  border-radius: 0;
  border: 0;
}
