.community-page-container {
  margin-top: 50px;
}

.community-header-info {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 0 24px;
  height: 100%;
}

.community-page-header-top {
  height: 77px;
  width: 100%;
  background: rgb(51, 168, 255);
  padding: 8px 16px;
}

.community-page-header-btm {
  height: 100px;
  width: 100%;
  background: white;
}

.community-page-main {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 20px 24px;
}

.community-page-left-col {
  max-width: 640px;
  width: 100%;
}

.community-page-right-col {
  max-width: 310px;
  width: 100%;
  border-radius: 4px;
  margin-left: 24px;
  background: white;
  border: 1px solid #ccc;
}

.community-page-left-col .single-post-container:hover {
  border: 1px solid #898989;
}

.community-page-left-col .single-post-container {
  border: 1px solid #ccc;
}

.community-header-info-details {
  display: flex;
  padding-left: 16px;
  margin-top: 10px;
  /* width: calc(100% - 80px); */
  position: relative;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  margin-top: -14px;
  margin-bottom: 12px;
}

.community-header-info-details-left {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.community-header-info-display-name h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 2px 4px 0;
  text-overflow: ellipsis;
  width: 100%;
  color: #1c1c1c;
}

.community-header-info-name {
  font-size: 14px;
  font-weight: 500;
  color: #7c7c7c;
}

.community-header-info-subscribe button {
  border-radius: 100px;
  height: 30px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  color: white;
  background: #0079d3;
  border: 1px solid #0079d3;
  padding: 4px 16px;
  cursor: pointer;
}

.community-header-info-subscribe button:hover {
  opacity: 0.9;
}
