.modal-container {
  width: 446px;
}

.modal-container-create-community {
  width: 530px;
}

.modal-content {
  padding: 26px 16px;
  margin-top: -16px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-height: 90vh;
}

.upload-user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.fake-upload-btn {
  padding: 4px 16px;
  border-radius: 100px;
  height: 32px;
  min-width: 32px;
  border: 1px solid #0079d3;
  background: #0079d3;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
}

.fake-upload-btn:hover {
  opacity: 0.9;
}

.modal-buttons,
.message-modal-buttons {
  padding: 16px;
  background: #edeff1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.message-modal-buttons {
  padding: 0;
  padding-left: 16px;
  justify-content: space-between;
}

.modal-buttons button,
.message-modal-buttons button {
  border-radius: 100px;
  height: 32px;
  padding: 4px 16px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  border: 1px solid #0079d3;
}

.delete-modal-btn-left {
  background: inherit;
  color: #0079d3;
  margin-right: 10px;
}

.delete-modal-btn-right {
  background: #0079d3;
  color: white;
}

.delete-modal-btn-left:hover {
  background: rgba(0, 121, 211, 0.05);
  border-color: rgba(135, 138, 140, 0.8);
  color: rgba(135, 138, 140, 0.8);
}

.delete-modal-btn-right:hover {
  background: rgba(234, 0, 39, 0.8);
  border-color: rgba(234, 0, 39, 0.8);
}

.modal-content form {
  width: 100%;
}

.modal-content-input {
  padding: 10px;
  outline: none;
  /* border: 1px solid #eee; */
  border-radius: 4px;
  min-height: 122px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  resize: vertical;
  margin-bottom: 15px;
  max-height: 65vh;
  /* max-height: 80vh; */
}

.modal-content-input:focus {
  border: 1px solid #1c1c1c;
}

.modal-content-input h2 {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 4px;
}

.modal-content-input p {
  font-size: 12px;
  color: #7c7c7c;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 15px;
}

.create-community-input {
  border-radius: 4px;
  border: 1px solid #edeff1;
  color: #1c1c1c;
  margin-bottom: 8px;
  padding: 4px 26px;
  width: 100%;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  height: 37px;
}

.create-community-errors {
  color: red;
  font-size: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 15px;
  margin-top: 5px;
}

.create-community-textarea {
  padding: 10px;
  /* outline: none; */
  border: 1px solid #eee;
  border-radius: 4px;
  min-height: 122px;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  resize: vertical;
  margin-bottom: 0px;
  max-height: 65vh;
  max-height: 60vh;
}

.create-community-input-r {
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  top: 9px;
  left: 12px;
  position: absolute;
  color: #989ca0;
}

.create-community-input-box {
  position: relative;
}

.create-community-input-charcount {
  padding-top: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7c7c7c;
  font-family: "IBM Plex Sans", sans-serif;
}

.charcount-red {
  color: red;
}

.modal-buttons-disabled {
  cursor: not-allowed !important;
  filter: grayscale(1);
  background: #3293db !important;
  color: rgba(255, 255, 255, 0.5) !important;
  border: 1px solid rgb(207, 207, 207) !important;
}

.user-img-preview {
  height: 80px;
  width: 80px;
  object-fit: cover;
  overflow: none;
  border-radius: 6px;
  position: relative;
  background: white;
  border: 1px solid #edeff1;
  margin-bottom: 5px;
}

.user-img-error {
  color: red;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.loading {
  color: #1c1c1c;
}

.user-img-preview-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  /* margin-bottom: 16px; */
  padding: 3px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 6px;
}

.banner-img-preview {
  width: 100%;
  height: 94px;
  object-fit: cover;
  overflow: none;
  border-radius: 6px;
  background: white;
  border: 1px solid #edeff1;
  margin-bottom: 5px;
}
.image-post-form {
  background: white;
  text-align: center;
  padding: 20px;
}

.post-img-btn {
  cursor: pointer;
  border-radius: 100px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 14px !important;
  line-height: 17px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0079d3;
  border: 1px solid #0079d3;
  padding: 4px 16px;
  height: 32px;
  outline: none;
  cursor: pointer;
}

.post-img-btn:hover {
  opacity: 0.9;
}

.image-post-img,
.image-post-preview {
  max-width: 100%;
  /* width: 100%; */
  display: block;
  max-height: 512px;
  margin: 20px 0;
}

.image-post-img {
  max-height: 700px;
}

.img-post-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rule-modal-section-title {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  line-height: 18px;
  padding-bottom: 8px;
}

.rule-modal-rule-input {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px;
  width: 100%;
  overflow-y: auto;
  resize: none;
  border: 1px solid #edeff1;
  border-radius: 4px;
}

.rule-input-1 {
  height: 70px;
}

.rule-modal-rule-input:hover,
.rule-modal-rule-input:focus,
.rule-modal-rule-input:active {
  outline: none;
  border: 1px solid #0079d3;
}

.rule-modal-rule-input-chars {
  font-size: 12px;
  color: #7c7c7c;
  padding-top: 5px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  line-height: 16px;
}

.rule-modal-rule-input-chars.red-chars {
  color: #ea0027;
}

.rule-modal-rule-input-chars.chars-1 {
  margin-bottom: 25px;
}

.rule-modal-rule-input.rule-input-2 {
  height: 96px;
  max-height: 200px;
}

.rule-description {
  word-break: break-word;
}

.modal-buttons-right:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  background: #3293db;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

.title-exists-error {
  color: #ea0027;
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  /* padding-top: 5px; */
}

.modal-buttons.alt-buttons {
  display: flex;
  justify-content: space-between !important;
}

.modal-buttons-delete {
  background: inherit;
  border-color: transparent !important;
  color: #ea0027;
}

.modal-buttons-delete:hover {
  /* opacity: 0.9 !important; */
  color: rgba(234, 0, 39, 0.8) !important;
  background: #dddddd;
}

.message-modal-container {
  width: 550px;
}

.message-modal-form {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.message-modal-label {
  font-size: large;
  font-weight: 500;
  color: #373c3f;
  margin-bottom: 15px;
}

.message-modal-label-subtext {
  color: #878a8c;
  font-size: smaller;
}

.message-modal-input {
  margin: 0;
  margin-top: 5px;
  font-size: 100%;
  width: 492px;
  padding: 3px;
  border: 1px solid gray;
  height: 30px;
}

.message-modal-textarea {
  display: block;
  margin: 0;
  margin-top: 5px;
  /* font-size: 1.0769230769230769em; */
  width: 492px;
  padding: 3px;
  border: 1px solid gray;
  min-height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  resize: vertical;
}

.message-success-msg {
  margin-right: 10px;
}
