.nav-search-bar input {
  border: none;
  font-family: "IBM Plex Sans", sans-serif;
  background: none;
  font-size: 14px;
  line-height: 14px;
  margin-right: 16px;
  outline: none;
  width: 100%;
  color: #1c1c1c;
}

.nav-search-bar input:focus .nav-search-bar-container {
  background: white;
  border: 1px solid #0079d3;
}

.nav-search-bar input:hover .nav-search-bar-container {
  border: 1px solid #0079d3;
  background: white;
}

.nav-search-btn {
  background: none;
  border: none;
  outline: none;
  /* cursor: pointer; */
}
.nav-search-bar {
  position: relative;
  width: 100%;
  /* margin-left: 100px;
    margin-right: 60px; */
  min-width: 250px;
  max-width: 1450px;
}

.nav-search-stuff {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-search-dropdown {
  position: absolute;
  border-radius: 4px;
  z-index: 100;
  max-height: 80vh;
  background: white;
  top: 40px;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 1450px;
}

.nav-search-input-container {
  border: 1px solid #edeff1;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  background: #f6f7f8;
  display: flex;
  align-items: center;
  /* padding-left: 15px; */
  max-width: 1450px;
}

.nav-search-input-container:hover {
  border-color: #0079d3;
  background: white;
}

.nav-search-input-container:hover .search-close-icon {
  display: flex;
}

.nav-search-input-container:focus-within .search-close-icon {
  display: flex;
}

.nav-search-input-container.search-input-focus {
  background: white;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #0079d3;
  display: flex;
  align-items: center;
}

.nav-search-input-container:focus-within {
  border-color: #0079d3;
}

.nav-search-input-container svg {
  font-size: 20px;
  margin-right: 10px;
  color: #878a8c;
}

.search-close-icon {
  display: none;
  align-items: center;
}

.search-close-icon svg {
  font-size: 20px;
  color: #1c1c1c;
  margin-right: 18px;
  cursor: pointer;
}
.nav-search-section {
  padding-bottom: 8px;
  border-bottom: 2px solid #edeff1;
}

.nav-search-dropdown p {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  padding: 12px 16px;
}

.search-result-community {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.search-result-community:hover {
  background: #f6f7f8;
}

.search-result-community-img {
  width: 24px;
  height: 24px;
  background-position: 50%;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1000px;
  object-fit: cover;
}

.search-result-community-details {
  display: flex;
  flex-direction: column;
}

.search-result-community-name {
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  line-height: 18px;
}

.search-result-community-members {
  font-size: 12px;
  font-weight: 400;
  color: #7c7c7c;
  line-height: 16px;
}

.search-for-query svg {
  font-size: 20px;
  color: #707070;
  margin-right: 8px;
}
.search-for-query {
  /* border-top: 2px solid #edeff1; */
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #1c1c1c;
  cursor: pointer;
  line-height: 18px;
  display: flex;
  align-items: center;
}
.search-for-query:hover {
  background: #f6f7f8;
}
