/* TODO Add site wide styles */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

#sidebar {
  scroll-margin-top: 200px; /* or however tall your header is */
}

body,
html {
  font-family: var(--font-family-ibm);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  height: 100%;
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  color-scheme: var(--current-color-scheme);
}

#root {
  display: flex;
}

input {
  font-family: var(--font-family-ibm);
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  z-index: 1;
  width: 100%;
  margin-top: 48px;
  /* padding-left: 270px; */
}

/* Buttons */
button {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 700;
  border-radius: 1000px;
  height: 32px;
  cursor: pointer;
  line-height: 17px;
  padding: 4px 16px;
  border: 1px solid var(--highlight-color);
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale(1);
  background: #3293db;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid transparent;
}

textarea {
  outline: none;
}

input {
  outline: none;
}

a.blue-btn-filled {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 700;
  border-radius: 1000px;
  height: 32px;
  cursor: pointer;
  line-height: 17px;
  padding: 4px 16px;
  border: 1px solid var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-btn-filled {
  color: var(--ribbit-main);
  position: relative;
  background: var(--community-highlight);
  fill: var(--highlight-color);
}

.blue-btn-unfilled {
  position: relative;
  color: var(--highlight-color);
  background: var(--ribbit-main);
}

.btn-long {
  width: 100%;
  margin-top: 8px;
}

.btn-short {
  min-width: 32px;
}

.blue-btn-filled::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--ribbit-main);
  opacity: 0;
}

.blue-btn-unfilled::before,
.blue-btn-unfilled-modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background: var(--community-highlight);
  opacity: 0;
}

.blue-btn-filled:hover::before {
  opacity: 0.08;
}

.blue-btn-unfilled:hover::before,
.blue-btn-unfilled-modal:hover::before {
  opacity: 0.04;
}

.blue-btn-unfilled-modal {
  background: inherit;
  color: var(--community-highlight);
  margin-right: 10px;
  position: relative;
}

.join-btn {
  min-width: 96px;
}

.no-posts-div {
  width: 100%;
  opacity: 0.4;
  position: absolute;
  background: var(--main-input-bg-color);
  opacity: 0.4;
  height: 100%;
  z-index: 1;
}

.no-posts-div-container {
  min-height: 380px;
  width: 100%;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: var(--main-text-color);
  border: thin solid #ccc;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ribbit-main);
  border-radius: 4px;
}

.no-posts-div-txt {
  z-index: 10;
  color: #7c7c7c;
  font-size: 14px;
  opacity: 0.6;
}

.no-posts-div-txt h1 {
  font-size: 18px;
  margin: 10px 0;
}

.no-posts-div-txt svg {
  color: var(--highlight-color);
  font-size: 20px;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 50px;
  min-height: calc(100vh - 48px);
  padding: 2rem;
  height: 100%;
  font-weight: 400;
  color: var(--main-text-color);
  font-family: var(--font-family-noto);
}

.not-found-page img {
  width: 350px;
  margin-top: calc(48px + 2rem);
}
.not-found-page h1 {
  font-size: 5rem;
  color: var(--logo-color);
}

.not-found-page h2 {
  font-size: 2rem;
}

.not-found-page-p {
  text-align: center;
  font-size: 1.5rem;
}

.not-found-page-p p,
.not-found-page a {
  line-height: 3rem;
}

.not-found-page a {
  color: #1399f3;
}
