:root {
  --community-base-color: #0079d3;
  --community-base-color-text: #ffffff;
  --community-highlight: #0079d3;
  --community-body-bg: #dae0e6;
  --community-body-bg-img: "";
  --community-banner-height: 80px;
  --community-banner-color: #0079d3;
  --community-banner-img: "";

  --preview-community-color-theme-base: #0079d3;
  --preview-community-color-theme-highlight: #0079d3;
  --preview-community-color-theme-bodybg: #dae0e6;
  --preview-community-color-picker-square: #000000;
  --preview-community-body-bg-img: "";
  --preview-community-body-bg-img-format: ;
  --preview-community-banner-height: 80px;
  --preview-community-banner-color: #0079d3;
  --preview-community-banner-img: "";

  --font-family-noto: "Noto Sans", sans-serif;
  --font-family-ibm: "IBM Plex Sans", sans-serif;
}
