:root {
  --community-base-color: var(--highlight-color);
  --community-base-color-text: #ffffff;
  --community-highlight: var(--highlight-color);
  --community-body-bg: #dae0e6;
  --community-body-bg-img: "";
  --community-banner-height: 80px;
  --community-banner-color: #33a8ff;
  --community-banner-img: "";

  --preview-community-color-theme-base: var(--highlight-color);
  --preview-community-color-theme-highlight: var(--highlight-color);
  --preview-community-color-theme-bodybg: #dae0e6;
  --preview-community-color-picker-square: #000000;
  --preview-community-body-bg-img: "";
  --preview-community-body-bg-img-format: ;
  --preview-community-banner-height: 80px;
  --preview-community-banner-color: #33a8ff;
  --preview-community-banner-img: "";
  --preview-community-icon: "";

  --font-family-noto: "Noto Sans", sans-serif;
  --font-family-ibm: "IBM Plex Sans", sans-serif;
  --main-text-color: #1c1c1c;
  --highlight-color: #0079d3;
}

#root.light {
  --community-bottom-banner: #ffffff;
}

#root.dark {
  --community-bottom-banner: #1a1a1b;
}
