.notifications-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px);
  width: 648px;
  margin: 0 auto;
}

.notifications-header {
  display: flex;
  flex-direction: column;
  height: 131px;
}

.notifications-header h1 {
  padding: 40px 0 21px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  color: var(--main-text-color);
}

.notifications-button-bar {
  display: block;
  width: 100%;
}

.notifications-button-bar-list {
  list-style: none;
  display: flex;
  width: 100%;
}

.notifications-button-bar-item {
  cursor: pointer;
  padding: 15px 12px 12px;
  font-size: 14px;
  font-weight: 700;
  color: #7c7c7c;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  border-bottom: none;
  display: inline-block;
  line-height: unset;
  margin-right: 8px;
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.notifications-button-bar-item:hover {
  color: var(--main-text-color);
}

.notifications-button-bar-item:hover svg {
  stroke: #7c7c7c;
  color: #7c7c7c;
}

.notifications-button-bar-active {
  border-bottom: 3px solid var(--highlight-color);
  color: var(--main-text-color);
  padding-right: 17px;
  height: 44px;
}

.notifications-button-bar-messages {
  margin-right: auto;
  padding-right: 17px;
  height: 41px;
}

.notifications-button-bar-item svg {
  font-size: 20px;
  margin-right: 6px;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.notifications-main-wrapper {
  max-width: 1248px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.notifications-main {
  max-width: 740px;
  flex: 1 1 100%;
  min-width: 0;
  width: 100%;
}

.notifications-spacer {
  margin: 0 auto 16px;
  max-width: 648px;
}

.notifications-content {
  border-radius: 4px;
  margin: 0 auto;
  max-width: 648px;
  width: 100%;
}

.notifications-content-header {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  display: block;
  width: 100%;
  padding: 8px 16px;
}

.notification {
  border-bottom: 1px solid var(--secondary-border-color);

  padding: 16px;
  display: flex;
  width: 100%;
}

.notification.unread-notification {
  background: rgba(36, 160, 237, 0.1);
}

.notification-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.notification-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: var(--font-family-noto);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.notification-top-right {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 32px;
  margin-left: 10px;
  position: relative;
}

.notification-top-right:hover {
  background: var(--main-input-bg-color);
}

.notification-top-right-menu-btn {
  align-items: center;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  background: transparent;
  padding: 0;
  height: auto;
  border: 0;
}

.notification-top-right-menu-btn svg {
  font-size: 20px;
  color: #7c7c7c;
}

.notification-icon {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background-color: transparent;
  display: block;
  object-fit: cover;
  margin-right: 8px;
}

.notification-img {
  position: relative;
}

.notification-icon:hover {
  background: transparent;
}

.notification-content {
  width: 100%;
}

.notification-topbar-dot {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #7c7c7c;
  margin: 0 4px;
}

.notification-bottom {
  font-family: "Noto Sans", Arial, sans-serif;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  white-space: normal;
  -webkit-box-orient: vertical;
  color: #7c7c7c;
}

.notification-icon-bubble svg {
  color: #24a0ed;
}

.notification-icon-bubble {
  background: var(--ribbit-main);
  border: 1px solid var(--secondary-border-color);

  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  left: 12px;
  position: absolute;
  top: 18px;
}

.notification-menu {
  right: 10px;
  bottom: -73px;
  position: absolute;
  margin-left: 18px;
  margin-top: 2px;
  z-index: 10000;
  font-size: 10px;
  background: var(--ribbit-main);
  border: 1px solid var(--secondary-border-color);

  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(28, 28, 28, 0.2);
  width: 300px;
}

.notification-menu-item {
  color: var(--main-text-color);
  font-size: 14px;
  font-family: var(--font-family-ibm);
  font-weight: 500;
  line-height: 18px;
  display: block;
  padding: 8px;
  text-align: left;
  width: 100%;
}

.notification-menu-item:hover {
  opacity: 0.5;
}

@media (min-width: 640px) {
  .notifications-main {
    margin: 24px auto;
  }
}
