.chat-window-chatnav-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.chat-window-chatnav-title {
  padding: 12px 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6;
  height: 56px;
}

/* .chat-window-chatnav {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    justify-content: left;
    font-size: 12px;
    grid-column-gap: 8px;
    cursor: pointer;
    color: #131313;
    background: var(--ribbit-main);
    padding: 8px 12px;
  } */

.chat-window-chatnav {
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  border: none;
  background: var(--ribbit-main);
  cursor: pointer;
}

.chat-window-chatnav:hover {
  background: #f8f8f8;
}

.chat-window-chatnav.chatnav-active {
  background: #f8f8f8;
}

.chat-window-chatnav-details-bottom {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  width: 100%;
}

.chat-window-chatnav img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.chat-window-chatnav-last {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

.chat-window-chatnav-details-top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.chat-window-chatnav-date {
  font-size: 10px;
}

.chat-window-chatnav-username {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  margin-right: 10px;
}
