.rule-modal-section-title {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 400;
  color: var(--main-text-color);
  line-height: 18px;
  padding-bottom: 8px;
}

.rule-modal-rule-input {
  font-family: var(--font-family-noto);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding: 8px;
  width: 100%;
  overflow-y: auto;
  resize: none;
  border: 1px solid #edeff1;
  border-radius: 4px;
}

.rule-input-1 {
  height: 70px;
}

.rule-modal-rule-input:hover,
.rule-modal-rule-input:focus,
.rule-modal-rule-input:active {
  outline: none;
  border: 1px solid var(--highlight-color);
}

.rule-modal-rule-input-chars {
  font-size: 12px;
  color: #7c7c7c;
  padding-top: 5px;
  font-family: var(--font-family-ibm);
  font-weight: 400;
  line-height: 16px;
}

.rule-modal-rule-input-chars.red-chars {
  color: #ea0027;
}

.rule-modal-rule-input-chars.chars-1 {
  margin-bottom: 25px;
}

.rule-modal-rule-input.rule-input-2 {
  height: 96px;
  max-height: 200px;
}
