.image-post-form {
  background: var(--ribbit-main);
  text-align: center;
  padding: 20px;
}

#post-img {
  opacity: 0;
}

.post-img-btn {
  cursor: pointer;
  border-radius: 100px;
  font-family: var(--font-family-noto);
  font-weight: 700;
  font-size: 14px;
  color: white;
  background: var(--highlight-color);
  border: 1px solid var(--highlight-color);
  padding: 4px 16px;
  height: 32px;
}

.image-post-img,
.image-post-preview {
  max-width: 100%;
  margin-top: 20px;
  display: block;
  max-height: 512px;
}

.image-post-img {
  max-height: 700px;
}
