.recent-posts-box {
  border: 1px solid var(--main-border-color);
  background: var(--ribbit-main);
  padding: 12px;
  overflow: visible;
  word-wrap: break-word;
  border-radius: 5px 5px 4px 4px;
  margin-top: 16px;
}

.recent-posts-head {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 12px;
  text-transform: uppercase;
  padding-bottom: 4px;
  color: var(--main-text-color);
}

.recent-post-type {
  border-radius: 4px;
  -ms-flex: 0 0 65px;
  flex: 0 0 65px;
  height: 49px;
  margin-right: 7px;
  width: 65px;
  overflow: hidden;
  border: 1px solid var(--secondary-border-color);
  padding: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.recent-post-type svg {
  color: #878a8c;
  font-size: 20px;
}

.recent-post {
  display: flex;
  padding-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  cursor: pointer;
  flex-direction: row;
}

.recent-post-li:not(:last-child) {
  border-bottom: 2px solid var(--main-input-bg-color);
  padding-bottom: 12px;
}

.recent-post-li {
  list-style-type: none;
}

.li-last .recent-post {
  padding-bottom: 0;
  border-bottom: 0 !important;
}

.recent-post:hover .recent-post-title {
  text-decoration: underline;
}

.recent-post-type-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recent-post-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 36px;
}

.recent-post-info-bar {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #878a8c;
  white-space: nowrap;
}

.recent-post-type-post svg {
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 20px;
  color: #878a8c;
}

.recent-post-dot-spacer {
  font-size: 12px;
}

.recent-post-dot-spacer::before {
  content: "·";
  font-weight: 700;
  margin: 0 3px;
}

.recent-posts-foot {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #878a8c;
  text-align: right;
  width: 100%;
  cursor: pointer;
  padding: 0;
  margin-top: -10px !important;
  background: var(--ribbit-main);
  border: none;
  font-family: var(--font-family-ibm);
  border-radius: 0;
  height: auto;
}

.recent-post-type.type-link {
  border-color: var(--highlight-color);
  position: relative;
}

.type-link svg {
  color: var(--highlight-color);
}

.recent-post-type-link {
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  width: 20px;
}

.recent-post-type-link-box {
  background: var(--highlight-color);
  border-top-left-radius: 4px;
  bottom: 0;
  height: 18px;
  position: absolute;
  right: 0;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-post-type-link-box svg {
  color: white;
  line-height: 18px;
  font-size: 15px !important;
}

.recent-post-list:last-child {
  border-bottom: 0;
}

.recent-post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.type-link-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--highlight-color);
  border-top-left-radius: 4px;
  height: 18px;
  width: 18px;
}

.type-link-icon svg {
  color: var(--ribbit-main);
  font-size: 15px;
  line-height: 18px;
  margin-left: 2px;
  vertical-align: baseline;
}

.recent-posts-skeleton {
  width: 100%;
  display: flex;
  gap: 7px;
  align-items: center;
}

.recent-posts-skeleton-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recent-posts-skeleton-title {
  margin-bottom: 4px;
}
