.ribbit-rules-box {
  background: var(--ribbit-main);
  border-radius: 4px;
  padding: 12px;
  max-width: 312px;
  width: 100%;
  border: 1px solid #ccc;
}

.ribbit-rules-title {
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #edeff1;
  align-items: center;
  display: flex;
  color: var(--main-text-color);
  font-weight: 500;
}

.ribbit-rules-rule {
  padding: 10px 5px;
  border-bottom: 1px solid #edeff1;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
}

.ribbit-rules-frog {
  width: 40px;
  margin-right: 8px;
  padding-bottom: 5px;
}
